@use "sass:math";
@use "../../config/mixins.scss";

@mixin _rotatedText($angle, $angleOffset, $fontSize, $radius, $angleStart: 0, $customClass: "&-char", $letterLimit: 100) {
    position: relative;
    font-size: $fontSize;
    font-family: Sketches, sans-serif;

    #{$customClass} {
        $width: $fontSize - math.div($fontSize, 4);

        position: absolute;
        top: 0;
        left: 0;
        transform-origin: bottom center;
        width: $width;
        height: $width * $radius;
    }

    $anglePerChar: math.div($angle, $angleOffset);
    @for $i from 1 through $letterLimit {
        #{$customClass}:nth-child(#{$i}) {
            transform: rotate($angleStart + $angleOffset + $anglePerChar * $i);
        }
    }
}

@layer desktop {
    @media (min-width: 761px) {
        .history {
            width: calc(100vw - (100vw - 100%));
            height: 100vw;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            overflow: hidden;
            font-size: 0;
            isolation: isolate;
    
            &-content {
                flow-into: historyRegion;
                font-family: Belgrano, sans-serif;
    
                &__paragraph {
                    font-size: mixins.obtainViewportWidth(8px);
                    margin: mixins.obtainViewportWidth(4px) 0;
                    letter-spacing: mixins.obtainViewportWidth(-0.5px);
    
                    @include mixins.liftUp($levels: 2, $modifiers: ("-regions--top")) {
                        color: #473623;
                    }
    
                    @include mixins.liftUp($levels: 2, $modifiers: ("-regions--bottom-left")) {
                        background: linear-gradient(to bottom right, #412619, #5b3f2e);
                        color: transparent;
                        -webkit-background-clip: text;
                        background-clip: text;
                        transform: translateY(0px);
                    }
    
                    @include mixins.liftUp($levels: 2, $modifiers: ("-region--top")) {
                        &:first-of-type,
                        &:nth-of-type(2) {
                            padding-right: 15%;
                        }
    
                        &:not(:first-of-type, :nth-of-type(2)) {
                            padding-right: 40.5%;
                        }
                    }
    
                    @include mixins.liftUp($levels: 2, $modifiers: ("-region-wrap--bottom")) {
                        &:last-of-type {
                            widows: 1;
                            column-count: 3;
                            column-gap: mixins.obtainViewportWidth(3px);
                            column-rule: 1px solid #a88059;
                            text-align: center;
                            direction: rtl;
                            transform: scaleY(0.9);
                        }
                    }
    
                    @include mixins.liftUp($levels: 2, $modifiers: ("-region--spiral-second", "-region--last")) {
                        font-size: mixins.obtainViewportWidth(6px) !important;
                        line-height: 1;
                        margin: 0;
                        color: #b7966e;
                        mix-blend-mode: darken;
                    }
                }
            }
    
            $topRegionWidth: 477px;
            $topRegionPaddingLeft: 5px;
            $topRegionHeight: 675px;
            $topRegionPaddingTop: 28px;
    
            $topSeparatorHeight: 170px;
    
            &-regions {
                position: relative;
    
                &--top {
                    display: inline-flex;
                    vertical-align: top;
                    gap: mixins.obtainViewportWidth(3px);
                    width: mixins.obtainViewportWidth($topRegionWidth);
                    padding-top: mixins.obtainViewportWidth($topRegionPaddingTop);
                    padding-left: mixins.obtainViewportWidth($topRegionPaddingLeft);
                    background: radial-gradient(circle at 30% -100%, #d2b07a, transparent),
                        linear-gradient(to bottom, #c8a26a, #836138);
    
                    &::before {
                        position: absolute;
                        width: mixins.obtainViewportWidth(285px);
                        height: mixins.obtainViewportWidth($topSeparatorHeight);
                        top: 0;
                        right: 0;
                        transform: translateX(-22%) scale(1.5, 2);
                        z-index: 1;
                        background: linear-gradient(to left, #251a11, #7d5f36);
                        mix-blend-mode: soft-light;
                        -webkit-mask-image: url("/svg/history-top-mask-01.svg");
                        mask-image: url("/svg/history-top-mask-01.svg");
                        pointer-events: none;
                        content: '';
                    }
                }
    
                &--top-right {
                    $paddingLeft: 100px;
    
                    display: inline-flex;
                    gap: mixins.obtainViewportWidth(7px);
                    width: calc(100% - mixins.obtainViewportWidth($topRegionWidth + $topRegionPaddingLeft + $paddingLeft));
                    padding-top: mixins.obtainViewportWidth($topRegionPaddingTop);
                    padding-left: mixins.obtainViewportWidth($paddingLeft);
                    background: linear-gradient(to bottom, #edddbf, #e4d4b8);
                    color: #827263;
    
                    &::before {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        width: mixins.obtainViewportWidth(280px);
                        height: mixins.obtainViewportWidth(360px);
                        clip-path: url(#history-clip-top-rightmost);
                        background: linear-gradient(to bottom left, #2e2214, #895e31 30%);
                        mix-blend-mode: multiply;
                        content: "";
                    }
                }
    
                $bottomPaddingLeft: 20.5px;
                $bottomWidth: 335px;
    
                &--bottom-left {
                    display: inline-flex;
                    vertical-align: top;
                    gap: mixins.obtainViewportWidth(5px);
                    width: mixins.obtainViewportWidth(335px);
                    height: calc(100% - mixins.obtainViewportWidth($topRegionHeight + $topRegionPaddingTop) + 1px);
                    padding-left: mixins.obtainViewportWidth(20.5px);
                    float: left;       
                    margin-top: -1px;
                    color: #3b1a0e;
    
                    & > * {
                        z-index: 1;
                    }
    
                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 110%;
                        background: linear-gradient(to top, #885d2e, #836138);
                        content: "";
                    }
                }
    
                &--bottom {
                    display: inline-flex;
                    flex-direction: row-reverse;
                    gap: mixins.obtainViewportWidth(6.5px);
                    width: calc(100% - mixins.obtainViewportWidth($bottomWidth + $bottomPaddingLeft));
                    height: calc(100% - mixins.obtainViewportWidth($topRegionHeight + $topRegionPaddingTop) + 1px);
                    background: radial-gradient(at top, rgba(#ebd9bb, 0.5), transparent 70%),
                        radial-gradient(circle at 15% 100%, rgba(#a6773e, 0.25), transparent 35%),
                        linear-gradient(to bottom, #e4d4b8, #dcbd8a);
                    color: #7e6a57;
                }
            }
    
            &-region {
                flow-from: historyRegion;
                region-fragment: break;
                text-align: justify;
    
                &::before {
                    display: block;
                    float: left;
                }
    
                &__float {
                    display: block !important;
                    float: right;
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("--topmost")) {
                        width: 80%;
                        height: 100%;
                        shape-outside: polygon(100% 24%, 76% 32%, 48% 46%, 27% 59%, 13% 75%, 0 100%, 100% 100%);
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("--top")) {
                        margin-top: mixins.obtainViewportWidth(-30px);
                        width: 100%;
                        height: 120%;
                        shape-outside: polygon(0 59%, 14% 53%, 35% 45%, 49% 38%, 67% 26%, 80% 14%, 91% 4%, 100% 0, 100% 100%, 0% 100%);
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("-wrap--top-absolute")) {
                        width: 32%;
                        height: calc(100% + mixins.obtainViewportWidth(64px));
                        shape-outside: polygon(45% 0%, 74% 15%, 88% 28%, 78% 44%, 49% 55%, 0 66%, 0% 100%, 100% 100%, 100% 0);
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("--top-rightmost")) {
                        width: 40%;
                        height: 100%;
                        shape-margin: mixins.obtainViewportWidth(6px);
                        shape-outside: polygon(40% 0%, 47% 14%, 52% 25%, 29% 29%, 55% 31%, 51% 37%, 45% 41%, 59% 49%, 81% 57%, 93% 64%, 93% 83%, 79% 91%, 63% 97%, 60% 100%, 100% 100%, 100% 0%);
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("--bottom-leftmost")) {
                        width: 10%;
                        height: 100%;
                        shape-outside: polygon(23% 0%, 33% 10%, 51% 19%, 67% 28%, 84% 38%, 94% 46%, 95% 53%, 90% 59%, 74% 63%, 98% 69%, 95% 80%, 86% 91%, 80% 100%, 100% 100%, 100% 0%);
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("--bottom-rightmost")) {
                        width: 30%;
                        height: 100%;
                        shape-outside: polygon(55% 0%, 43% 6%, 47% 15%, 47% 43%, 54% 61%, 55% 79%, 59% 92%, 57% 100%, 100% 100%, 100% 0%);
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("-wrap--bottom")) {
                        &:first-of-type {
                            width: 15%;
                            height: 60%;
                            float: left;
                        }
                        
                        &:last-of-type {
                            width: 45%;
                            height: 60%;
                            shape-outside: polygon(54% 0, 84% 31%, 110% 53%, 134% 70%, 174% 100%, 0% 100%, 0% 0%);
                            float: left;
                        }
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("--spiral-second")) {
                        &:first-of-type {
                            width: 70%;
                            height: 80%;
                            shape-outside: polygon(13% 0%, 7% 9%, 4% 33%, 4% 57%, 10% 75%, 21% 100%, 100% 100%, 100% 0%);
                        }
    
                        &:last-of-type {
                            width: 15%;
                            height: 80%;
                            margin-left: 10%;
                            float: left;
                        }
                    }
                }
    
                &--topmost {
                    flex: 1.3 1 0;
                    height: mixins.obtainViewportWidth($topRegionHeight);
    
                    &::before {
                        width: 10%;
                        height: 100%;
                        shape-outside: polygon(77% 0, 34% 35%, 15% 52%, 6% 65%, 6% 73%, 8% 82%, 41% 91%, 100% 100%, 0% 100%, 0% 0%);
                        content: "";
                    }
                }
    
                &--top {
                    flex: 2 1 0;
                    height: mixins.obtainViewportWidth(225px);
    
                    &::before {
                        content: "";
                        width: 5%;
                        height: 30%;
                        shape-outside: polygon(0 0, 100% 0, 16% 100%, 0% 100%);
                    }
                }
    
                &-wrap--top-absolute {
                    position: absolute;
                    top: 0;
                    right: mixins.obtainViewportWidth(-115px);
                    z-index: 1;
                    width: mixins.obtainViewportWidth(285px);
                    height: mixins.obtainViewportWidth($topSeparatorHeight + $topRegionPaddingTop);
                    filter: drop-shadow(mixins.obtainViewportWidth(-80px) 0px mixins.obtainViewportWidth(18px) rgba(#3f2b18, 0.5)) drop-shadow(mixins.obtainViewportWidth(-100px) mixins.obtainViewportWidth(-20px) mixins.obtainViewportWidth(18px) rgba(#3f2b18, 0.25)) drop-shadow(mixins.obtainViewportWidth(-80px) mixins.obtainViewportWidth(-70px) mixins.obtainViewportWidth(18px) rgba(#1f170e, 0.5)) drop-shadow(mixins.obtainViewportWidth(-20px) 0 0 rgba(#5d3f20, 0.5));
                }
    
                &__outline {
                    display: block !important;
                    position: absolute;
                    z-index: 1;
                    pointer-events: none;
    
                    &-inner {
                        width: 100%;
                        height: 100%;
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("-wrap--top-absolute")) {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        transform: translate(2%, 1%);
                        filter: drop-shadow(mixins.obtainViewportWidth(-6px) 0px mixins.obtainViewportWidth(7px) rgba(#664727, 0.8));
                        opacity: 0.8;
    
                        &-inner {
                            clip-path: url(#history-clip-topmost-outline);
                            background: linear-gradient(to bottom, #885c2d, #c68e3f);
                        }
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: ("-wrap--bottom")) {
                        left: 0;
                        bottom: 0;
                        transform: translateX(-66%);
                        width: mixins.obtainViewportWidth(122px);
                        height: mixins.obtainViewportWidth(199px);
                        filter: drop-shadow(mixins.obtainViewportWidth(30px) 0px mixins.obtainViewportWidth(17.5px) rgba(#624221, 0.8));
                        
                        &-inner {
                            clip-path: url(#history-clip-bottommost-outline);
                            background: linear-gradient(to bottom, #f5e6cd, #f0e1c1);
                        }
                    }
                }
    
                &-wrap--top-absolute & {
                    position: relative;
                    width: inherit;
                    height: inherit;
                    box-sizing: border-box;
                    padding-top: 1%;
                    padding-bottom: mixins.obtainViewportWidth(64px);
                    clip-path: url(#history-clip-topmost);
                    background: radial-gradient(circle at 50% -30%, #e9d8b9, transparent),
                        linear-gradient(to bottom left, #dfc493, #c68e3a 50%);
                    text-align: left;
    
                    &::before {
                        content: "";
                        width: 65%;
                        height: calc(100% + mixins.obtainViewportWidth(64px));
                        shape-outside: polygon(11% 100%, 47% 88%, 80% 75%, 98% 48%, 97% 17%, 86% 0, 0% 0%, 0% 100%);
                    }
                }
    
                &--top-right {
                    flex: 1.3 1 0;
                    height: mixins.obtainViewportWidth($topSeparatorHeight);
    
                    &::before {
                        width: 100%;
                        height: 100%;
                        shape-margin: mixins.obtainViewportWidth(32px);
                        shape-outside: polygon(7% 0%, 11% 9%, 7% 25%, 3% 37%, 9% 51%, 31% 61%, 58% 74%, 81% 85%, 99% 96%, 100% 100%, 0% 100%, 0% 0%);
                        content: "";
                    }
                }
    
                &--top-rightmost {
                    flex: 2 1 0;
                    height: mixins.obtainViewportWidth($topRegionHeight);
    
                    &::before {
                        width: 50%;
                        height: 100%;
                        shape-outside: polygon(0% 25%, 26% 30%, 57% 39%, 75% 49%, 90% 59%, 97% 67%, 99% 75%, 90% 86%, 82% 95%, 73% 100%, 0% 100%);
                        content: "";
                    }
                }
    
                &--bottom-leftmost {
                    flex: 1.5 1 0;
                    height: mixins.obtainViewportWidth(430px);
                    transform: translateY(-28%);
    
                    &::before {
                        width: 50%;
                        height: 100%;
                        shape-margin: mixins.obtainViewportWidth(16px);
                        shape-outside: polygon(59% 0%, 44% 11%, 24% 22%, 14% 35%, 11% 46%, 0% 57%, 0% 0%);
                        content: "";
                    }
                }
    
                &--bottom-left {
                    flex: 1 1 0;
                    word-break: break-all;
    
                    &::before {
                        width: 100%;
                        height: 100%;
                        shape-outside: polygon(6% 0%, 8% 15%, 19% 33%, 32% 48%, 44% 65%, 56% 77%, 68% 89%, 80% 100%, 100% 100%, 100% 0%);
                        float: right;
                        content: "";
                    }
                }
    
                &--bottom-rightmost {
                    flex: 1.75 1 0;
    
                    &::before {
                        width: 50%;
                        height: 100%;
                        shape-outside: polygon(87% 0%, 72% 10%, 58% 22%, 41% 30%, 28% 36%, 7% 43%, 0% 46%, 0% 0%);
                        content: "";
                    }
                }
    
                &--bottom-central {
                    flex: 1 1 0;
    
                    &::before {
                        width: 100%;
                        height: 100%;
                        shape-outside: polygon(100% 43%, 81% 50%, 49% 54%, 19% 59%, 0% 61%, 0% 1%, 100% 0%);
                        content: "";
                    }
                }
    
                &-wrap--bottom {
                    position: relative;
                    flex: 1.25 1 0;
                    z-index: 1;
                }
    
                &-wrap--bottom & {
                    $paddingLeft: 70px;
    
                    position: absolute;
                    top: 0;
                    left: mixins.obtainViewportWidth(-50px - $paddingLeft);
                    width: mixins.obtainViewportWidth(245px + $paddingLeft);
                    height: 100%;
                    background: radial-gradient(circle at 75% 100%, rgba(#a6773e, 0.25), transparent 35%),
                        linear-gradient(to bottom, #e4d4b8, #dcbd8a);
                    box-sizing: border-box;
                    padding-left: mixins.obtainViewportWidth($paddingLeft);
                    word-break: break-all;
                    clip-path: url(#history-clip-bottom);
    
                    &::before {
                        width: 85%;
                        height: 60%;
                        shape-margin: mixins.obtainViewportWidth(8px);
                        shape-outside: polygon(100% 92%, 85% 95%, 68% 93%, 45% 85%, 28% 77%, 5% 63%, 0% 55%, 0% 0%, 100% 0%);
                        float: right;
                        content: "";
                    }
                }
    
                &--spiral-second {
                    position: relative;
                    top: mixins.obtainViewportWidth(100px);
                    width: mixins.obtainViewportWidth(480px);
                    height: mixins.obtainViewportWidth(270px);
                    word-break: break-all;
                    font-size: mixins.obtainViewportWidth(5px);
                    box-sizing: border-box;
                    padding-left: mixins.obtainViewportWidth(100px);
    
                    &::before {
                        width: 15%;
                        height: 20%;
                        margin-left: 25%;
                        shape-outside: polygon(100% 0, 100% 31%, 53% 56%, 30% 100%, 0% 100%, 0% 0%);
                        content: "";
                    }
                }
    
                &--last {
                    position: absolute;
                    top: mixins.obtainViewportWidth(452px);
                    left: mixins.obtainViewportWidth(360px);
                    width: mixins.obtainViewportWidth(192px);
                    height: mixins.obtainViewportWidth(237px);
                    background: radial-gradient(at top left, #efd4a3, #b08a53);
                    z-index: 5;
                    clip-path: url(#history-clip-closing-inner);
                    mix-blend-mode: lighten;
                    overflow: hidden;
                }
            }
    
            &-spiral {
                pointer-events: none;
    
                &-end {
                    position: absolute;
                    top: mixins.obtainViewportWidth(482px);
                    left: mixins.obtainViewportWidth(408px);
                    width: mixins.obtainViewportWidth(232px);
                    height: mixins.obtainViewportWidth(228px);
                    mask-image: linear-gradient(to top, #000 80%, transparent);
                    -webkit-mask-image: linear-gradient(to top, #000 80%, transparent);
                }
    
                &-text-primary {
                    position: absolute;
                    top: mixins.obtainViewportWidth(162px);
                    left: mixins.obtainViewportWidth(108px);
                    width: mixins.obtainViewportWidth(732px);
                    height: mixins.obtainViewportWidth(448px);
                    z-index: 3;
                    mix-blend-mode: hard-light;
                }
    
                &-text-secondary {
                    position: absolute;
                    top: mixins.obtainViewportWidth(363px);
                    left: mixins.obtainViewportWidth(275px);
                    width: mixins.obtainViewportWidth(430px);
                    height: mixins.obtainViewportWidth(300px);
                    z-index: 3;
                    mix-blend-mode: multiply;
                }
    
                &-first {
                    &-wrap {
                        position: absolute;
                        top: mixins.obtainViewportWidth(105px);
                        width: mixins.obtainViewportWidth(890px);
                        height: mixins.obtainViewportWidth(865px);
                        z-index: 4;
    
                        filter: drop-shadow(
                            mixins.obtainViewportWidth(-4px) 
                            mixins.obtainViewportWidth(2px) 
                            mixins.obtainViewportWidth(4px) rgba(#51371b, 0.75)
                        ) drop-shadow(
                            0
                            mixins.obtainViewportWidth(4px)
                            mixins.obtainViewportWidth(4px) rgba(#242415, 0.33)
                        ) drop-shadow(
                            0
                            mixins.obtainViewportWidth(4px)
                            mixins.obtainViewportWidth(16px) rgba(#242415, 0.33)
                        ) drop-shadow(
                            mixins.obtainViewportWidth(28px)
                            0
                            mixins.obtainViewportWidth(16px) rgba(#242415, 0.75)
                        );
                    }
                    
                    width: inherit;
                    height: inherit;
                    clip-path: url(#history-clip-spiral-first);
                    background: linear-gradient(to right, #b68b4f 2%, #8c6432 4%, #75522c 7%, #bc945c, #eadec6 50%);
                }
    
                &-second {
                    position: absolute;
                    top: mixins.obtainViewportWidth(335px);
                    left: mixins.obtainViewportWidth(226px);
                    width: mixins.obtainViewportWidth(510px);
                    height: mixins.obtainViewportWidth(545px);
                    z-index: 4;
                    clip-path: url(#history-clip-spiral-second);
                    background: radial-gradient(circle at 50% 25%, #483421, #dbbe8c 25%, transparent 40%),
                        radial-gradient(circle at 35% 46%, #dbbe8c, transparent 15%),
                        linear-gradient(to bottom, #f8eedb, #e4d4b8 95%);
                }
    
                &-third {
                    &-wrap {
                        position: absolute;
                        top: mixins.obtainViewportWidth(295px);
                        left: mixins.obtainViewportWidth(226px);
                        width: mixins.obtainViewportWidth(510px);
                        height: mixins.obtainViewportWidth(445px);
                        z-index: 3;
                        mask-image: linear-gradient(to bottom, #000,transparent 50%, transparent);
                        -webkit-mask-image: linear-gradient(to bottom, #000, transparent 50%, transparent);
    
                        &::before {
                            position: absolute;
                            top: mixins.obtainViewportWidth(12px);
                            left: 0;
                            width: inherit;
                            height: inherit;
                            clip-path: url(#history-clip-spiral-second);
                            background: linear-gradient(to bottom, #ce943a, #824e24);
                            content: "";
                        }
    
                        &::after {
                            position: absolute;
                            top: mixins.obtainViewportWidth(23px);
                            left: 0;
                            width: inherit;
                            height: inherit;
                            clip-path: url(#history-clip-spiral-second);
                            background: linear-gradient(to bottom, #d3963e, #824e24);
                            content: "";
                        }
                    }
              
                    width: inherit;
                    height: inherit;
                    clip-path: url(#history-clip-spiral-second);
                    background: linear-gradient(to bottom, rgba(171, 134, 79, 1), #ce943a);
                }
    
                &-third-primary {
                    &-wrap {
                        position: absolute;
                        top: mixins.obtainViewportWidth(398px);
                        left: mixins.obtainViewportWidth(325px);
                        width: mixins.obtainViewportWidth(422px);
                        height: mixins.obtainViewportWidth(387px);
                        z-index: 5;
                        filter: drop-shadow(
                            mixins.obtainViewportWidth(-8px)
                            0
                            mixins.obtainViewportWidth(8px)
                            #c7933a
                        ) drop-shadow(
                            mixins.obtainViewportWidth(6px)
                            0
                            mixins.obtainViewportWidth(6px)
                            rgba(#532118, 0.5)
                        );
                        mask-image: linear-gradient(to top, #000 92%, transparent);
                        -webkit-mask-image: linear-gradient(to top, #000 92%, transparent);
    
                        &::before {
                            position: absolute;
                            top: mixins.obtainViewportWidth(102px);
                            left: mixins.obtainViewportWidth(74px);
                            width: mixins.obtainViewportWidth(192px);
                            height: mixins.obtainViewportWidth(267px);
                            background: linear-gradient(to top, #f6e8cd, #f2e0ba, #e3bc79, #442b1b);
                            z-index: -1;
                            clip-path: url(#history-clip-closing-first);
                            content: "";
                        }
    
                        &::after {
                            position: absolute;
                            top: mixins.obtainViewportWidth(42px);
                            left: mixins.obtainViewportWidth(18px);
                            width: mixins.obtainViewportWidth(242px);
                            height: mixins.obtainViewportWidth(327px);
                            background: linear-gradient(to top, #c18938, #dcb250);
                            z-index: -2;
                            clip-path: url(#history-clip-closing-second);
                            content: "";
                        }
                    }
    
                    width: inherit;
                    height: inherit;
                    clip-path: url(#history-clip-spiral-third);
                    background: linear-gradient(to right, #f8ead6, #f5ebd7, #d4ad72);
                }
    
                &-primary {
                    &-wrap {
                        position: absolute;
                        top: mixins.obtainViewportWidth(172px);
                        left: mixins.obtainViewportWidth(75px);
                        overflow: hidden;
                        width: mixins.obtainViewportWidth(804px);
                        height: mixins.obtainViewportWidth(718px);
                        z-index: 2;
                        filter: drop-shadow(0 mixins.obtainViewportWidth(4px) mixins.obtainViewportWidth(4px) #ae9b8c);
                    }
    
                    width: inherit;
                    height: inherit;
                    clip-path: url(#history-clip-spiral-primary);
                    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 70%, transparent 90%);
                    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 70%, transparent 90%);
                    background:
                        linear-gradient(140deg, #997040 25%, rgba(#cb8f3d, 0.33), transparent 35%),
                        linear-gradient(120deg, #997040 25%, rgba(#cb8f3d, 0.5), transparent 35%),
                        radial-gradient(circle at 73% 73%, #ab8350, transparent 20%),
                        radial-gradient(circle at 71% 71%, #ab8350, transparent 20%),
                        radial-gradient(circle at 75% 69%, #ab8350, transparent 15%),
                        radial-gradient(circle at 69% 75%, rgba(#ab8350, 0.5), transparent 15%),
                        radial-gradient(circle at 67% 75%, #ab8350, transparent 15%),
                        radial-gradient(circle at 62% 77%, #ab8350, transparent 15%),
                        radial-gradient(circle at 60% 77%, #ab8350, transparent 15%),
                        radial-gradient(circle at 64% 75%, rgba(#ab8350, 0.25), transparent 15%),
                        radial-gradient(at center, #816934, #865932, #e2b971, #070604 63%);
                }
    
                &__text {
                    $current: &;
    
                    @include mixins.liftUp($levels: 1, $modifiers: "-first") {
                        margin: mixins.obtainViewportWidth(40px) 0 0 mixins.obtainViewportWidth(400px);
                        opacity: 0.5;
                       
                        &:first-of-type {
                            @include _rotatedText(
                                $angle: 5deg, 
                                $angleOffset: 2deg, 
                                $fontSize: mixins.obtainViewportWidth(16px), 
                                $radius: 35,
                                $angleStart: 35deg,
                                $customClass: "#{$current}-char",
                                $letterLimit: 43
                            );
                        }
    
                        &:last-of-type {
                            @include _rotatedText(
                                $angle: 5deg, 
                                $angleOffset: 2deg, 
                                $fontSize: mixins.obtainViewportWidth(16px), 
                                $radius: 37,
                                $angleStart: 15deg,
                                $customClass: "#{$current}-char",
                                $letterLimit: 43
                            );
                        }
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: "-primary") {
                        &:first-of-type {
                            @include _rotatedText(
                                $angle: 5deg, 
                                $angleOffset: 0.5grad, 
                                $fontSize: mixins.obtainViewportWidth(92px), 
                                $radius: 5.1,
                                $angleStart: 0deg,
                                $customClass: "#{$current}-char",
                                $letterLimit: 18
                            );
    
                            position: absolute;
                            top: mixins.obtainViewportWidth(485px);
                            left: mixins.obtainViewportWidth(730px);
                            margin: 0;
                            transform: scaleX(-1) rotate(-105deg);
                            transform-origin: center;
                            font-family: Undertown;
                            color: rgba($color: #4d3e23, $alpha: 0.5);
                            mix-blend-mode: darken;
    
                            $lastLetterSize: 9;
                            @for $i from 1 through $lastLetterSize {
                                #{$current}-char:nth-child(#{$i}) {
                                    left: mixins.obtainViewportWidth((($lastLetterSize - 1) * 2px) * ($lastLetterSize - $i));
                                }
                            }
                        }
    
                        &:nth-of-type(2) {
                            @include _rotatedText(
                                $angle: 5deg, 
                                $angleOffset: 3deg, 
                                $fontSize: mixins.obtainViewportWidth(8px), 
                                $radius: 5,
                                $angleStart: 10deg,
                                $customClass: "#{$current}-char",
                                $letterLimit: 86
                            );
    
                            position: absolute;
                            top: mixins.obtainViewportWidth(255px);
                            left: mixins.obtainViewportWidth(430px);
                            margin: 0;
                            color: #1b181a;
    
                            #{$current}-char {
                                white-space: nowrap;
    
                                @for $i from 1 through 18 {
                                    &:nth-child(#{$i}) {
                                        text-indent: mixins.obtainViewportWidth(240px);
                                    }
                                }
                            }
                        }
    
                        &:last-of-type {
                            @include _rotatedText(
                                $angle: 5deg, 
                                $angleOffset: 0.5grad, 
                                $fontSize: mixins.obtainViewportWidth(92px), 
                                $radius: 4.75,
                                $angleStart: 0deg,
                                $customClass: "#{$current}-char",
                                $letterLimit: 18
                            );
    
                            position: absolute;
                            top: mixins.obtainViewportWidth(505px);
                            left: mixins.obtainViewportWidth(730px);
                            margin: 0;
                            transform: scaleX(-1) rotate(-105deg);
                            transform-origin: center;
                            font-family: Undertown;
                            color: rgba($color: #4d3e23, $alpha: 0.5);
                            mix-blend-mode: color-dodge;
    
                            @for $i from 1 through 5 {
                                #{$current}-char:nth-child(#{$i}) {
                                    opacity: 0.2 + math.div($i, 10);
                                }
                            }
                        }
                    }
    
                    @include mixins.liftUp($levels: 1, $modifiers: "-second") {
                        opacity: 0.2;
    
                        &:first-of-type {
                            transform: scaleX(-1) translateX(40%);
    
                            @include _rotatedText(
                                $angle: 5deg, 
                                $angleOffset: 2deg, 
                                $fontSize: mixins.obtainViewportWidth(40px), 
                                $radius: 11,
                                $angleStart: 45deg,
                                $customClass: "#{$current}-char",
                                $letterLimit: 20
                            );
                        }
    
                        &:nth-of-type(2) {
                            top: mixins.obtainViewportWidth(-60px);
                            transform: scaleX(-1) translateX(40%);
    
                            @include _rotatedText(
                                $angle: 5deg, 
                                $angleOffset: 2deg, 
                                $fontSize: mixins.obtainViewportWidth(40px), 
                                $radius: 14,
                                $angleStart: 1deg,
                                $customClass: "#{$current}-char",
                                $letterLimit: 15
                            );
                        }
                        
                        &:last-of-type {
                            top: mixins.obtainViewportWidth(-60px);
                            transform: translateX(40%);
    
                            @include _rotatedText(
                                $angle: 5deg, 
                                $angleOffset: 2deg, 
                                $fontSize: mixins.obtainViewportWidth(40px), 
                                $radius: 14,
                                $angleStart: 1deg,
                                $customClass: "#{$current}-char",
                                $letterLimit: 21
                            );
                        }
                    }
        
                    @include mixins.liftUp($levels: 2, $modifiers: ("-region-wrap--bottom")) {
                        height: 100%;
                        transform: translate(50%, -50%) scaleX(-1);
                        opacity: 0.5;
        
                        @include _rotatedText(
                            $angle: 5deg, 
                            $angleOffset: 1deg, 
                            $fontSize: mixins.obtainViewportWidth(16px), 
                            $radius: 13,
                            $angleStart: 65deg,
                            $letterLimit: 18
                        );
                    }
                }
            }
        }
    }
}
