@media (max-width: 761px) {
    .history {
        column-count: 2;
        padding: 0 16px;
        background: linear-gradient(to bottom, #c8a26a, #836138);

        @media (max-width: 330px) {
            column-count: initial;

            &-content > :first-child {
                padding-top: 10px;
                margin-top: 0;
            }

            &-content > :last-child {
                padding-bottom: 10px;
                margin-bottom: 0;
            }
        }
    
        &-content {
            font-size: 12px;
            letter-spacing: -0.5px;
            font-family: Belgrano, sans-serif;
            color: #473623;
        }

        & > :not(.history-content) {
            position: absolute;
            display: none;
            pointer-events: none;
        }
    }    
}
