$mainWhite: #ffffff;
$mainGray: #e6e6e6;
$mainDark: #2c2c2c;
$secondaryDark: #11130b;
$tertiaryDark: #101519;
$mainOrange: #e2940f;
$secondaryOrange: #e19608;

@font-face {
    font-family: Amazone;
    src: url("./fonts/Amazone.woff2") format("woff2"),
        url("/fonts/Amazone.woff") format("woff");
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: Balmoral;
    src: url("./fonts/Balmoral.woff2") format("woff2"),
        url("./fonts/Balmoral.woff") format("woff");
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: "Brush Script";
    src: url("./fonts/BrushScript.woff2") format("woff2"),
        url("./fonts/BrushScript.woff") format("woff");
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: "Kyrial Sans Pro";
    src: url("./fonts/KyrialSansPro.woff2") format("woff2"),
        url("./fonts/KyrialSansPro.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Core Sans";
    src: url("./fonts/CoreSans_N_SC.woff2") format("woff2"),
        url("./fonts/CoreSans_N_SC.woff") format("woff");
    font-display: swap;
}

@mixin backgroundPlacement($urlString) {
    background-image: url($urlString);
    background-repeat: no-repeat;
    background-size: calc(100% + 3px) 100%;
    background-position-x: -3px;
}

body {
    margin: 0;
}

h3 {
    font-family: "Brush Script", sans-serif;
}

p {
    margin: 0;
    font-size: 9px;
    font-family: "Kyrial Sans Pro", sans-serif;

    @media (min-width: 1200px) {
        font-size: 13px;
    }
}

.button {
    box-sizing: border-box;
    border: none;
    border-radius: 1.5em;
    font: 1em/1 "Kyrial Sans Pro";
    text-transform: uppercase;

    &--orange {
        border: $secondaryOrange 3px solid;
        padding: 5px 7px;
        font-family: "Core Sans", sans-serif;
        background-color: $mainOrange;
        color: $mainWhite;
    }

    &--white {
        padding: 10px 24px;
        font-weight: 700;
        color: $mainOrange;
        word-spacing: -1px;
        background-color: $mainWhite;
    }

    &--black {
        border: 2px solid $secondaryDark;
        padding: 6px 32px;
        font-size: 8px;
        background-color: $mainDark;
        color: $mainOrange;
        text-transform: initial;
    }
}

.header {
    @include backgroundPlacement("./img/header-background.jpg");
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-weight: 100;
    color: $mainWhite;

    &-title {
        margin-bottom: 0;
        text-align: center;

        &__letters {
            font: 36px/1 Amazone, sans-serif;
        }

        &__capital-letter {
            font: 52px/1 Balmoral, sans-serif;
            margin-left: 8.5px;
        }
    }

    &-subtitle {
        margin-top: calc(1.25em - 10px);
        margin-bottom: 1.5em;
        font-family: "Kyrial Sans Pro";
        font-weight: 100;
        background-color: $mainWhite;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        opacity: 0.75;
    }

    &-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
        margin-top: 1em;
        margin-bottom: 6.25em;

        &__logo {
            font-size: 48px;
            font-weight: 100;
            line-height: 75%;
            margin: 0;
        }

        &__links {
            display: flex;
            padding: 0;
            margin: 0;
            list-style-type: none;

            &-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                font: calc(0.5em + (100% / 7 / 7))/1 "Kyrial Sans Pro";
                text-transform: uppercase;

                @media (min-width: 1200px) {
                    font-size: 0.75em;
                }

                &:first-child {
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    padding-bottom: 10.5px;
                    border-bottom: $mainOrange 2px solid;

                    & > * {
                        color: $mainOrange;
                    }
                }

                &:last-child {
                    padding: 0;
                }
            }
        }

        &__link {
            text-decoration: none;
            color: $mainWhite;
            
        }
    }

    & > :last-child {
        margin-bottom: 8.5em;
    }
}

.showcase-section {
    position: relative;
    width: 100vw;
    height: 25vw;
    background-color: $mainGray;
}

.showcase-article {
    $extensionSize: 2.25em;
    $extensionSizeCompact: 1.875em;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    position: absolute;
    top: -$extensionSizeCompact;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 63.5vw;
    height: calc(25vw + $extensionSizeCompact + $extensionSizeCompact);
    
    box-shadow: 6px 2px 2px rgba($color: $mainDark, $alpha: 0.2);

    &--compact {
        top: -$extensionSize;
        height: 19.25em + $extensionSize + $extensionSize;
        grid-template-columns: 22.45vw 41.5vw;
    }

    &--compact &__section--description:first-of-type {
        padding: 30px 20px 24px 20px;
    }

    &--compact &__section--description:last-of-type {
        padding: 40px 40px 45px 30px;
    }

    &__section {
        overflow: hidden;

        &--image > img {
            width: 100%;
            height: 100%;
        }

        &--description {
            padding: 0 0.78em;
            text-align: center;
            background-color: $mainWhite;
        }
    }

    &__header {
        margin: 0;
        font-size: 32px;
        font-weight: 100;
        line-height: 0.9;
        color: $mainOrange;
    }

    h4#{&}__header {
        position: relative;
        margin-top: 25px;
        margin-bottom: 20px;
        font: bold 0.7em/1 "Core Sans", sans-serif;
        text-transform: uppercase;
    }

    h4#{&}__header::before {
        position: absolute;
        width: 25px;
        height: 1.5px;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        background-color: $mainDark;
    }

    &__description {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__price {
        font: bold 0.75em/1 "Kyrial Sans Pro", sans-serif;
    }
}

.speciality-section {
    @include backgroundPlacement("./img/section-key-image.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 38vw;
}

.section__heading {
    font: bold 20px/1 "Core Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    color: $mainWhite;
    margin: 0;
}

.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vw;
    padding-bottom: 3.5vw;
    background-color: $tertiaryDark;
    color: $mainWhite;

    .section__heading {
        margin-bottom: 18px;
    }

    > p {
        max-width: 49em;
    }

    .button {
        font-size: 10px;
        text-transform: initial;
    }
}


.meal-type-list {
    display: flex;
    gap: 15px;
    max-width: 63.95vw;
    margin-top: 3.9vw;
    margin-bottom: 3.5vw;
    padding: 0;
    list-style-type: none;

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 calc(25% - (15px * 3));
        text-align: center;
    }

    &__meal-icon {
        aspect-ratio: 1.1/1;
        height: 60px;
    }

    &__heading {
        margin-top: 25px;
        margin-bottom: 12.5px;
        font: bold 0.7em/1 "Kyrial Sans Pro", sans-serif;
    }
}
