@font-face {
    font-family: "Frest Style";
    font-display: swap;
    src: url("../fonts/FrestStyle/FrestStyle-eZXrn.woff2") format("woff2"),
        url("../fonts/FrestStyle/FrestStyle-eZXrn.woff") format("woff"),
        url("../fonts/FrestStyle/FrestStyle-eZXrn.ttf") format("truetype");
}

@font-face {
    font-family: Undertown;
    font-display: swap;
    -moz-font-feature-settings: 'smcp';
    -webkit-font-feature-settings: 'smcp';
    -ms-font-feature-settings: 'smcp';
    font-feature-settings: 'smcp';
    src: url("../fonts/Undertown/Undertown.ttf") format("truetype");
}

@font-face {
    font-family: "KG Wake Me Up";
    font-display: swap;
    src: url("../fonts/KGWakeMeUp/KgWakeMeUp-6M6x.woff2") format("woff2"),
        url("../fonts/KGWakeMeUp/KgWakeMeUp-6M6x.woff") format("woff"),
        url("../fonts/KGWakeMeUp/KgWakeMeUp-6M6x.ttf") format("truetype");
}

@font-face {
    font-family: Sketches;
    font-display: swap;
    src: url("../fonts/Sketches/Sketchesbyduerer-wlM9.woff2") format("woff2"),
        url("../fonts/Sketches/Sketchesbyduerer-wlM9.woff") format("woff"),
        url("../fonts/Sketches/Sketchesbyduerer-wlM9.ttf") format("truetype");
}

@font-face {
    font-family: Spring;
    font-display: swap;
    src: url("../fonts/Spring/Spring-x3nPm.woff2") format("woff2"),
        url("../fonts/Spring/Spring-x3nPm.woff") format("woff"),
        url("../fonts/Spring/Spring-x3nPm.ttf") format("truetype");
}

@font-face {
    font-family: Brusly;
    font-display: swap;
    font-style: normal;
    ascent-override: 50%;
    src: url("../fonts/Brusly/BruslyNameDemoSanserif-d9Ol7.ttf") format("truetype");
}

@font-face {
    font-family: Brusly;
    font-display: swap;
    font-style: italic;
    src: url("../fonts/Brusly Signature/BruslyNameDemoSignature-PKq9E.woff2") format("woff2"),
        url("../fonts/Brusly Signature/BruslyNameDemoSignature-PKq9E.woff") format("woff"),
        url("../fonts/Brusly Signature/BruslyNameDemoSignature-PKq9E.ttf") format("truetype");
}

@font-face {
    font-family: "Rainbow Land";
    font-display: swap;
    font-weight: 600;
    src: url("../fonts/Rainbow Land/RainbowLand-gxlq1.woff2") format("woff2"),
        url("../fonts/Rainbow Land/RainbowLand-gxlq1.woff") format("woff"),
        url("../fonts/Rainbow Land/RainbowLand-gxlq1.ttf") format("truetype");
}

@font-face {
    font-family: "Rainbow Land";
    font-display: swap;
    font-weight: 800;
    src: url("../fonts/Rainbow Land/RainbowLandLine-owXrd.woff2") format("woff2"),
        url("../fonts/Rainbow Land/RainbowLandLine-owXrd.woff") format("woff"),
        url("../fonts/Rainbow Land/RainbowLandLine-owXrd.ttf") format("truetype");
}

@font-face {
    font-family: Helsky;
    font-display: swap;
    src: url("../fonts/Helsky/HelskyRegular-ywEe2.woff2") format("woff2"),
        url("../fonts/Helsky/HelskyRegular-ywEe2.woff") format("woff"),
        url("../fonts/Helsky/HelskyRegular-ywEe2.ttf") format("truetype");
}

@font-face {
    font-family: Belgrano;
    font-display: swap;
    src: url("../fonts/Belgrano/Belgrano-Regular.ttf") format("truetype");
}
