@use "sass:math";

$primaryActive: #4659cd;
$secondaryActive: #5e73ff;
$tertiaryActive: #b3d1ed;
$primaryGray: #5c5c5c;
$primaryYellow: #f6cc2c;
$white: #fff;

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Light.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Light.woff") format("woff");
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Regular.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Bold.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Leto Sans";
    src: url("./fonts/LetoSansCondensed-Bold.woff2") format("woff2"),
        url("./fonts/LetoSansCondensed-Bold.woff") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Icons;
    src: url("fonts/icomoon.eot?2zn7mb");
    src: url("fonts/icomoon.eot?2zn7mb#iefix") format("embedded-opentype"),
        url("fonts/icomoon.ttf?2zn7mb") format("truetype"),
        url("fonts/icomoon.woff?2zn7mb") format("woff"),
        url("fonts/icomoon.svg?2zn7mb#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin fadingBackground {
    position: relative;
    background-color: #4657cb;

    > :not(.header-visual-circles) {
        position: relative;
        z-index: 2;
    }

    &::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: getViewportWidth(1200px);
        height: getViewportWidth(400px);
        background-image: url("./img/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 0 1.5vw 1.5vw #4657cb inset;
        content: "";
    }
}

@function getViewportWidth($targetWidth, $baseWidth: 1300px) {
    @if ($targetWidth >= $baseWidth) {
        @error "Target width should be less than base width";
    }

    @return math.div($targetWidth * 100vw, $baseWidth);
}

%font-icon {
    font-family: Icons !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%icon-microsoft::before {
    @extend %font-icon;
    content: "\1fa9f";
}

%icon-ibm::before {
    @extend %font-icon;
    content: "\1f5c2";
}

%icon-world::before {
    @extend %font-icon;
    content: "\1f310";
}

%icon-google-plus::before {
    @extend %font-icon;
    content: "\1f50e";
}

%icon-facebook::before {
    @extend %font-icon;
    content: "\1f3e2";
}

%icon-twitter::before {
    @extend %font-icon;
    content: "\1f424";
}

%icon-youtube::before {
    @extend %font-icon;
    content: "\1f4fc";
}

body {
    margin: 0;
    padding: 0;
    font-family: Quodlibet, sans-serif;

    > svg {
        position: absolute;
    }
}

.button {
    padding: getViewportWidth(12px) getViewportWidth(19.5px);
    border: none;
    border-radius: getViewportWidth(21.5px);
    font-size: getViewportWidth(17.5px);

    &--purple {
        background-color: #828efe;
    }

    &--blue {
        background-color: #316dfb;
        color: $white;
    }
}

.header {
    @include fadingBackground;
    position: relative;
    width: 100%;
    height: getViewportWidth(595px);
    background-color: #4657cb;
    clip-path: url(#headerCurve);

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: getViewportWidth(70px);
        box-shadow: 5px 5px 12px rgba(#000, 0.25);
        content: "";
    }

    &::after {
        top: getViewportWidth(70px);
    }

    &-navigation {
        &-wrap {
            width: 100%;
            background-color: $white;
        }

        position: relative;
        display: flex;
        align-items: center;
        width: getViewportWidth(945px);
        height: getViewportWidth(70px);
        margin: 2px auto 0 auto;
       
        &__logotype {
            flex-grow: 1;
            font: 700 getViewportWidth(22px) "Leto Sans", sans-serif;
            color: $primaryActive;
            text-transform: uppercase;

            &--yellow {
                color: $primaryYellow;
            }
        }

        &__link {
            padding: getViewportWidth(30.5px) getViewportWidth(14.5px) getViewportWidth(22.5px) getViewportWidth(14.5px);
            font-size: getViewportWidth(14px);
            color: $primaryGray;
            text-decoration: none;

            &--active {
                background-color: $secondaryActive;
                color: $white;
            }
        }
        
        &__settings {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
        }

        &__setting {
            width: getViewportWidth(40px);
            padding: getViewportWidth(6px);
            border: getViewportWidth(2px) solid $tertiaryActive;
            border-radius: getViewportWidth(4.5px);
            font-size: getViewportWidth(12px);
            background-color: transparent;

            &:first-child {
                border-right: none;
            }
            
            &:last-child {
                position: relative;
                left: getViewportWidth(-3px);
                box-sizing: border-box;
            }

            &--active {
                border-color: $primaryActive;
                background-color: $primaryActive;
                color: $white;
            }
        }
    }

    &__image {
        position: absolute;
        top: calc(getViewportWidth(90px) + 2px);
        right: getViewportWidth(225px);
        z-index: 1;
        width: getViewportWidth(510px);
        height: getViewportWidth(445px);
        filter: drop-shadow(-2.5mm 2mm 2mm rgba(#000, 0.2));
    }

    &-visual-circles {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 1;
        display: flex;
        gap: getViewportWidth(11px);
        pointer-events: none;

        &__row {
            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: getViewportWidth(5px);
            margin-top: getViewportWidth(80px);
        }

        &__row:first-child {
            padding-top: getViewportWidth(26.5px);
            margin-left: getViewportWidth(75px);
        }

        &__row:nth-child(2) {
            margin-right: getViewportWidth(36.5px);
            padding-top: getViewportWidth(3.5px);
        }

        &__row:nth-child(3) {
            position: absolute;
            top: getViewportWidth(210px);
            left: getViewportWidth(95.5px);
            margin-top: 0;
        }

        > span {
            position: absolute;
            display: block;
            border-radius: 50%;
        }
    }

    &-visual-circle {
        display: block;
        flex: 0 0 getViewportWidth(7px);
        width: getViewportWidth(7px);
        height: getViewportWidth(7px);
        border-radius: 50%;
        background-color: #6981da;

        &--blue {
            background-color: #3b48b8;

            &:not(:last-child) {
                top: getViewportWidth(-153px);
                left: getViewportWidth(27px);
                width: getViewportWidth(290px);
                height: getViewportWidth(290px);
            }

            &:last-child {
                top: getViewportWidth(55px);
                left: getViewportWidth(1135px);
                width: getViewportWidth(265px);
                height: getViewportWidth(265px);
            }
        }

        &--border {
            top: getViewportWidth(320px);
            left: getViewportWidth(35px);
            width: getViewportWidth(145px);
            height: getViewportWidth(145px);
            border: getViewportWidth(20px) solid #5467ce;
        }

        &--white {
            top: getViewportWidth(5px);
            right: getViewportWidth(222px);
            width: getViewportWidth(130px);
            height: getViewportWidth(130px);
            background-color: #5276cc;
        }
    }

    &-visual-circles ~ * {
        margin-left: getViewportWidth(285px);
        font-weight: 400;
        color: $white;
    }

    &__subheading {
        margin-top: getViewportWidth(76px);
        margin-bottom: getViewportWidth(24.5px);
        font-size: getViewportWidth(17.5px);
    }

    &__heading {
        margin-top: 0;
        margin-bottom: getViewportWidth(32px);
        font-size: getViewportWidth(33px);
    }

    &__description {
        margin-top: 0;
        margin-bottom: getViewportWidth(36.5px);
        max-width: getViewportWidth(210px);
        font-size: getViewportWidth(16px);
    }
}

.head-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: getViewportWidth(86px);
    margin-bottom: getViewportWidth(88px);

    &-article {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: getViewportWidth(710px);

        &__image {
            position: relative;
            top: getViewportWidth(-38px);
            width: getViewportWidth(367px);
            height: getViewportWidth(320px);
        }

        &__description {
            width: getViewportWidth(285px);
        }

        &__heading {
            margin-top: getViewportWidth(40px);
            margin-bottom: getViewportWidth(20px);
            font: 700 getViewportWidth(30.5px) "Leto Sans", sans-serif;
        }

        &__teaser {
            margin-top: 0;
            margin-bottom: getViewportWidth(44px);
            font: 600 unquote("#{getViewportWidth(15px)}/2") Qudolibet, sans-serif;
        }
    }
}

.advantages-section {
    @include fadingBackground;
    padding-top: getViewportWidth(60px);
    padding-bottom: getViewportWidth(64px);
    color: $white;
    overflow: hidden;

    &::after {
        top: 0;
    }

    > * {
        width: getViewportWidth(730px);
        margin: 0 auto;
    }

    &__heading {
        margin-bottom: getViewportWidth(32px);
        font-size: getViewportWidth(33px);
    }
}

.advantages {
    display: flex;
    gap: getViewportWidth(15px);
    padding: 0;

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: getViewportWidth(18px);
        flex: 1 1 0;
        width: 0;
        height: getViewportWidth(171px);
        padding: getViewportWidth(23px) 0;
        box-sizing: border-box;
        aspect-ratio: 1/1;
        background-color: $primaryActive;
        box-shadow: getViewportWidth(6px) getViewportWidth(6px) getViewportWidth(12px) rgba($color: #000000, $alpha: 0.1),
             getViewportWidth(-6px) getViewportWidth(-6px) getViewportWidth(12px) rgba($color: #000000, $alpha: 0.1);

        &__image {
            width: getViewportWidth(43.5px);
            height: getViewportWidth(43.5px);
            padding: getViewportWidth(12px);
            border: getViewportWidth(3px) #9ba1dc solid;
            border-radius: 50%;
            background-color: $white;
            outline: #a4b1e5 4px solid;
        }

        &__heading {
            margin: 0;
            font-size: getViewportWidth(18px);
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

.map-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: getViewportWidth(64px);
    padding-bottom: getViewportWidth(54px);

    &__heading {
        margin-top: 0;
        margin-bottom: getViewportWidth(5px);
        font-size: getViewportWidth(35px);
    }

    &__subheading {
        margin-top: 0;
        margin-bottom: getViewportWidth(36.5px);
        font-size: getViewportWidth(17.5px);
        color: #494949;
    }

    &__background-text {
        position: absolute;
        top: getViewportWidth(70px);
        left: 50%;
        transform: translate(-50%, -20%);
        z-index: -1;
        letter-spacing: getViewportWidth(10px);
        font-size: getViewportWidth(116px);
        font-weight: 700;
        text-transform: uppercase;
        color: #f2f2f2;
    }
}

.map {
    position: relative;
    width: getViewportWidth(870px);
    height: getViewportWidth(455px);
    
    &__image {
        width: inherit;
        height: inherit;
    }

    &__circle {
        position: absolute;
        width: getViewportWidth(8px);
        height: getViewportWidth(8px);
        background-color: #22b2fb;
        border: getViewportWidth(1px) solid #81d5ff;
        border-radius: 50%;

        $coordinates: (
            40: 72, 62: 46, 80: 62, 91: 143, 115: 161, 145: 20, 220: 50, 341: 45,
            217: 101, 235: 137, 288: 50, 307: 70, 324: 28, 326: 40, 333: 55, 43: 82
        );

        $counter: 1;
        @each $left, $top in $coordinates {
            &:nth-child(#{$counter}) {
                top: getViewportWidth($top * 2px);
                left: getViewportWidth($left * 2px);
            }
            $counter: $counter + 1;
        }
    }
}

footer {
    overflow: hidden;
    background-color: #f5f6fa;
}

.partners-section {
    position: relative;
    height: getViewportWidth(30px);
}

.partners-list {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    gap: getViewportWidth(25px);
    padding: 0;
    margin: 0;
    list-style-type: none;

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;

        &__logo {
            width: getViewportWidth(40px);
            height: getViewportWidth(16px);
        }

        &__icon {
            color: #b7b8bc;

            &--microsoft {
                @extend %icon-microsoft;
                font-size: getViewportWidth(11px);
                
                &::before {
                    position: relative;
                    top: getViewportWidth(0.5px);
                    margin-right: getViewportWidth(2px);
                }
            }

            &--ibm {
                @extend %icon-ibm;
                font-size: getViewportWidth(20px);
                line-height: 0;
            }
        }
    }
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: getViewportWidth(116px);
    background-color: #ddf0ff;
    clip-path: url(#footerCurve);

    &-inner {
        display: flex;
        width: getViewportWidth(475px);
        margin-bottom: getViewportWidth(20px);
    }

    &__mark {
        flex-grow: 1;
        font-size: getViewportWidth(8px);
        font-weight: 700;
        letter-spacing: -1px;
        color: #000;
    }

    &-navigation {
        display: flex;
        align-items: center;
        gap: getViewportWidth(13px);
        font-size: getViewportWidth(6px);

        &__link {
            font-weight: bold;
            text-decoration: none;
            color: darken(#b7b8bc, 20);
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: getViewportWidth(6px);
        flex-grow: 1;
    }

    &__icon {
        font-size: getViewportWidth(9px);
        color: #000;

        &--twitter {
            @extend %icon-twitter;
        }

        &--facebook {
            @extend %icon-facebook;
        }

        &--youtube {
            @extend %icon-youtube;
        }

        &--google-plus {
            @extend %icon-google-plus;
        }
    }
}
