@use "sass:math";

$primaryGreen: #2aea9d;
$primaryWhite: #e2e2e2;
$secondaryWhite: rgba(#fff, 0.8);
$primaryDark: #3a3a3a;
$secondaryDark: #898989;

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Light.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Light.woff") format("woff");
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Regular.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Bold.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Leto Sans";
    src: url("./fonts/LetoSansCondensed-Bold.woff2") format("woff2"),
        url("./fonts/LetoSansCondensed-Bold.woff") format("woff2");
    font-display: swap;
}

@function getViewportWidth($targetWidth, $baseWidth: 1300px) {
    @if  $targetWidth >=$baseWidth {
        @error "Target width should be less than base width";
    }

    @return math.div($targetWidth * 100vw, $baseWidth);
}

@mixin navigation($colorPrimary, $colorSecondary) {
    &-navigation {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: getviewportwidth(5px);
        width: getviewportwidth(1155px);
        margin: 0 auto;

        &__logo {
            flex-grow: 1;
            font: 700 getviewportwidth(20px) "Leto Sans", sans-serif;
            text-transform: uppercase;
            text-align: left;
            color: $colorPrimary;
        }

        &__link {
            padding: getviewportwidth(6px) getviewportwidth(20px);
            font-size: getviewportwidth(15px);
            color: $colorSecondary;
            text-decoration: none;

            &--active {
                color: $primaryGreen;
                border: 2px solid $primaryGreen;
                border-radius: 3px;
            }
        }
    }
}

@mixin backgroundImage($url) {
    background-image: url($url);
    background-position: center;
    background-size: cover;
}

@mixin placeLogotype($scale, $scaleTop: 1) {
    position: relative;
    text-align: center;
    
    &__logo {
        position: absolute;
        top: getviewportwidth(198px * $scaleTop);

        $resultLeft: 19.5% * $scale;

        left: 50%;
        transform: translateX(-55.7%);
        display: block;
        width: getviewportwidth(705px * $scale);
    }

    &__heading {
        position: relative;
        font-size: getviewportwidth(44px * $scale);
        margin-top: getviewportwidth(325px * $scaleTop);
        margin-bottom: getviewportwidth(20px);
        text-transform: uppercase;
        letter-spacing: getviewportwidth(12px * $scale);
        z-index: 1;
        font-family: "Leto Sans";
        color: #fff;
       
        &--subtext {
            position: relative;
            left: getviewportwidth(-8px * $scale);
        }
    }
}

@mixin borderCircle($size) {
    top: 50%;
    width: $size;
    height: $size;
    box-sizing: border-box;
    border-color: inherit;
    border-style: solid;
    border-width: getviewportwidth(2.5px);
    border-radius: 50%;
}

@mixin limitMaximumWidth($width: null) {
    & > * {
        @if  $width {
            width: getviewportwidth($width);
        }

        margin-left: auto;
        margin-right: auto;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: Quodlibet, sans-serif;
}

.button {
    cursor: pointer;
    color: $primaryWhite;

    &--white {
        border: 2px solid $primaryWhite;
        border-radius: 100vw;
        padding: getviewportwidth(4px) getviewportwidth(30px);
        font-size: getviewportwidth(11.5px);
        background-color: transparent;
    }

    &--green {
        border: none;
        font-size: getviewportwidth(14.5px);
        border-radius: getviewportwidth(6px);
        background-color: $primaryGreen;
        padding: getviewportwidth(12px) 0;
    }
}

.separator {
    position: relative;
    display: block;
    height: getviewportwidth(2.5px);
    background-color: $primaryWhite;
    color: $primaryWhite;

    &::before {
        @include borderCircle(getViewportWidth(15px));

        position: absolute;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: #fff;
        content: "";
    }

    &::after {
        @include borderCircle(getViewportWidth(15px));

        position: absolute;
        right: 0;
        transform: translate(50%, -50%);
        background-color: #fff;
        content: "";
    }
}

.carousel-button {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%) rotate(45deg);
        width: getviewportwidth(2px);
        height: getviewportwidth(15px);
        background-color: $secondaryDark;
        border-radius: getviewportwidth(2px);
        content: "";
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(66%) rotate(-45deg);
        width: getviewportwidth(2px);
        height: getviewportwidth(15px);
        background-color: $secondaryDark;
        border-radius: getviewportwidth(2px);
        content: "";
    }

    &--left {
        transform: scaleX(1);
    }

    &--right {
        transform: scaleX(-1);
    }
}

.header {
    @include backgroundImage("./img/header-image.jpg");
    @include navigation($primaryWhite, $primaryWhite);
    @include placeLogotype($scale: 1);
    @include limitMaximumWidth;

    padding: getviewportwidth(32px) 0 getviewportwidth(190px) 0;
    color: $primaryWhite;

    &__paragraph {
        margin-top: 0;
        margin-bottom: getviewportwidth(100px);
        max-width: getviewportwidth(515px);
        font-size: getviewportwidth(14px);
        color: $secondaryWhite;
    }

    &-slides {
        display: flex;
        justify-content: center;
        gap: getviewportwidth(17px);
        margin: 0;
        padding: 0;
        list-style-type: none;

        &__button {
            @include borderCircle(getViewportWidth(12px));

            cursor: pointer;

            &--active {
                border-color: $primaryGreen;
                background-color: $primaryGreen;
            }
        }
    }

    &-search {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        z-index: 1;

        &::before {
            @include borderCircle(getViewportWidth(28px));

            position: absolute;
            right: getviewportwidth(32px);
            transform: translateY(-60%);
            content: "";
        }

        &::after {
            position: absolute;
            top: getviewportwidth(35px);
            right: getviewportwidth(32px);
            transform: rotate(-45deg);
            width: getviewportwidth(3px);
            height: getviewportwidth(8px);
            background-color: $primaryWhite;
            content: "";
        }

        &__input {
            width: getviewportwidth(335px);
            box-sizing: border-box;
            margin: 0;
            padding: getviewportwidth(19px);
            border: 2px solid $primaryWhite;
            border-radius: 100vw;
            appearance: none;

            &::placeholder {
                font-family: inherit;
                font-size: getviewportwidth(12px);
                color: $primaryWhite;
            }
        }
    }
}

.featured-trips {
    @include limitMaximumWidth(1100px);

    text-align: center;
    padding-bottom: getviewportwidth(115px);

    &__line-vertical {
        display: block;
        width: getviewportwidth(3.2px);
        height: getviewportwidth(85px);
        background-color: $primaryWhite;
    }

    &__heading {
        font-size: getviewportwidth(24px);
        margin-top: getviewportwidth(35px);
        margin-bottom: getviewportwidth(12.5px);
        color: $primaryDark;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 0;
        margin-bottom: getviewportwidth(30px);
        font-size: getviewportwidth(12.5px);
        color: $secondaryDark;
    }

    &-carousel {
        @include placeLogotype($scale: 0.65, $scaleTop: 0.5);

        position: relative;
        display: flex;
        align-items: center;
        gap: getviewportwidth(33.5px);

        &__wrap {
            @include backgroundImage("./img/header-section-image.png");

            color: $primaryWhite;
            flex-grow: 1;
            background-position-y: bottom;
            padding-bottom: getviewportwidth(35px);
        }

        &__logo {
            margin-top: -5.5%;
        }

        &__paragraph {
            max-width: getviewportwidth(525px);
            margin: 0 auto getviewportwidth(35px);
            font-size: getviewportwidth(12px);
            color: $secondaryWhite;
        }
    }
}

.upcoming-trips {
    @include limitMaximumWidth(1130px);

    &-headline {
        display: grid;
        grid-template-columns: getviewportwidth(84px) 78% 14%;
        grid-template-rows: getviewportwidth(26px) getviewportwidth(21px) getviewportwidth(22px);
        column-gap: getviewportwidth(6px);
        margin-bottom: getviewportwidth(44px);

        &__image {
            width: getviewportwidth(84px);
            height: getviewportwidth(74px);
            grid-row: span 3;
        }

        &__heading {
            position: relative;
            left: getviewportwidth(-26px);
            align-self: end;
            grid-row: span 2;
            margin: 0;
            font-size: getviewportwidth(30px);
            color: $primaryDark;
        }

        &__description {
            align-self: end;
            grid-column: 2;
            margin: 0;
            font-size: getviewportwidth(14px);
            color: $secondaryDark;
        }

        .button {
            grid-column: 3;
            grid-row: 2 / 4;
        }
    }

    &-controls {
        display: flex;
        justify-content: center;
        gap: getviewportwidth(560px);
        margin-bottom: getviewportwidth(55px);

        .carousel-button--right {
            right: getviewportwidth(-25px);
        }
    }

    .separator {
        margin-bottom: getviewportwidth(25px);
    }

    &-gallery {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;

        &-wrap {
            position: relative;
            min-width: 100%;
        }

        &-item {
            position: relative;
            max-width: getviewportwidth(280px);
            height: getviewportwidth(250px);

            &::before {
                @include backgroundImage("./img/eye-icon.png");

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                width: getviewportwidth(55px);
                height: getviewportwidth(44px);
                opacity: 0;
                cursor: pointer;
                content: "";
            }

            &:first-child, &:last-child {
                max-width: getviewportwidth(160px);
            }

            &--active {
                max-width: getviewportwidth(430px);
                height: getviewportwidth(300px);

                &::before {
                    opacity: 1;
                }
            }

            &--active &__image {
                filter: brightness(0.9);
            }

            &__image {
                max-width: inherit;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-showcase {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: getviewportwidth(20px);
        list-style-type: none;
        margin: 0;
        padding: 0;
        min-width: 100%;
        margin-bottom: getviewportwidth(55px);

        &-item {
            position: relative;
            width: 295px;
            height: 400px;
            cursor: pointer;

            &__image {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                text-align: center;
                font-size: 28px;
                font-weight: 700;
                color: #fff;
                filter: drop-shadow(0 0 6px #000);
                content: "Upcoming Trips";
            }
        }
    }
}

.map-section {
    height: getviewportwidth(475px);

    &__map {
        width: 100%;
        height: inherit;
        object-fit: cover;
    }
}

.footer {
    @include navigation($primaryDark, $secondaryDark);

    padding: getviewportwidth(12px) 0 getviewportwidth(8px) 0;
}
