@use "sass:math";

$primary-green: #2aea9d;
$primary-white: #e2e2e2;
$secondary-white: rgba(#fff, 0.8);
$primary-dark: #3a3a3a;
$secondary-dark: #898989;

@font-face {
	font-family: Quodlibet;
	src:
		url("./fonts/QuodlibetSans-Light.woff2") format("woff2"),
		url("/fonts/QuodlibetSans-Light.woff") format("woff");
	font-display: swap;
	font-weight: 300;
}

@font-face {
	font-family: Quodlibet;
	src:
		url("./fonts/QuodlibetSans-Regular.woff2") format("woff2"),
		url("/fonts/QuodlibetSans-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: Quodlibet;
	src:
		url("./fonts/QuodlibetSans-Bold.woff2") format("woff2"),
		url("/fonts/QuodlibetSans-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: "Leto Sans";
	src:
		url("./fonts/LetoSansCondensed-Bold.woff2") format("woff2"),
		url("./fonts/LetoSansCondensed-Bold.woff") format("woff2");
	font-display: swap;
}

@function get-viewport-width($targetWidth, $baseWidth: 1300px) {
	@if $targetWidth >=$baseWidth {
		@error "Target width should be less than base width";
	}

	@return math.div($targetWidth * 100vw, $baseWidth);
}

@mixin navigation($colorPrimary, $colorSecondary) {
	&-navigation {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: get-viewport-width(5px);
		width: get-viewport-width(1155px);
		margin: 0 auto;

		&__logo {
			flex-grow: 1;
			font:
				700 get-viewport-width(20px) "Leto Sans",
				sans-serif;
			text-transform: uppercase;
			text-align: left;
			color: $colorPrimary;
		}

		&__link {
			padding: get-viewport-width(6px) get-viewport-width(20px);
			font-size: get-viewport-width(15px);
			color: $colorSecondary;
			text-decoration: none;

			&--active {
				color: $primary-green;
				border: 2px solid $primary-green;
				border-radius: 3px;
			}
		}
	}
}

@mixin background-image($url) {
	background-image: url($url);
	background-position: center;
	background-size: cover;
}

@mixin place-logotype($scale, $scaleTop: 1) {
	position: relative;
	text-align: center;

	&__logo {
		position: absolute;
		top: get-viewport-width(198px * $scaleTop);
		left: 50%;
		transform: translateX(-55.7%);
		display: block;
		width: get-viewport-width(705px * $scale);
	}

	&__heading {
		position: relative;
		font-size: get-viewport-width(44px * $scale);
		margin-top: get-viewport-width(325px * $scaleTop);
		margin-bottom: get-viewport-width(20px);
		text-transform: uppercase;
		letter-spacing: get-viewport-width(12px * $scale);
		z-index: 1;
		font-family: "Leto Sans", sans-serif;
		color: #fff;

		&--subtext {
			position: relative;
			left: get-viewport-width(-8px * $scale);
		}
	}
}

@mixin border-circle($size) {
	top: 50%;
	width: $size;
	height: $size;
	box-sizing: border-box;
	border-color: inherit;
	border-style: solid;
	border-width: get-viewport-width(2.5px);
	border-radius: 50%;
}

@mixin limit-maximum-width($width: null) {
	& > * {
		@if $width {
			width: get-viewport-width($width);
		}

		margin-left: auto;
		margin-right: auto;
	}
}

body {
	padding: 0;
	margin: 0;
	font-family: Quodlibet, sans-serif;
}

.button {
	cursor: pointer;
	color: $primary-white;

	&--white {
		border: 2px solid $primary-white;
		border-radius: 100vw;
		padding: get-viewport-width(4px) get-viewport-width(30px);
		font-size: get-viewport-width(11.5px);
		background-color: transparent;
	}

	&--green {
		border: none;
		font-size: get-viewport-width(14.5px);
		border-radius: get-viewport-width(6px);
		background-color: $primary-green;
		padding: get-viewport-width(12px) 0;
	}
}

.separator {
	position: relative;
	display: block;
	height: get-viewport-width(2.5px);
	background-color: $primary-white;
	color: $primary-white;

	&::before {
		@include border-circle(get-viewport-width(15px));

		position: absolute;
		left: 0;
		transform: translate(-50%, -50%);
		background-color: #fff;
		content: "";
	}

	&::after {
		@include border-circle(get-viewport-width(15px));

		position: absolute;
		right: 0;
		transform: translate(50%, -50%);
		background-color: #fff;
		content: "";
	}
}

.carousel-button {
	position: relative;
	border: none;
	padding: 0;
	cursor: pointer;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-100%) rotate(45deg);
		width: get-viewport-width(2px);
		height: get-viewport-width(15px);
		background-color: $secondary-dark;
		border-radius: get-viewport-width(2px);
		content: "";
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(66%) rotate(-45deg);
		width: get-viewport-width(2px);
		height: get-viewport-width(15px);
		background-color: $secondary-dark;
		border-radius: get-viewport-width(2px);
		content: "";
	}

	&--left {
		transform: scaleX(1);
	}

	&--right {
		transform: scaleX(-1);
	}
}

.header {
	@include background-image("./img/header-image.jpg");
	@include navigation($primary-white, $primary-white);
	@include place-logotype($scale: 1);
	@include limit-maximum-width;

	padding: get-viewport-width(32px) 0 get-viewport-width(190px) 0;
	color: $primary-white;

	&__paragraph {
		margin-top: 0;
		margin-bottom: get-viewport-width(100px);
		max-width: get-viewport-width(515px);
		font-size: get-viewport-width(14px);
		color: $secondary-white;
	}

	&-slides {
		display: flex;
		justify-content: center;
		gap: get-viewport-width(17px);
		margin: 0;
		padding: 0;
		list-style-type: none;

		&__button {
			@include border-circle(get-viewport-width(12px));

			cursor: pointer;

			&--active {
				border-color: $primary-green;
				background-color: $primary-green;
			}
		}
	}

	&-search {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 50%);
		z-index: 1;

		&::before {
			@include border-circle(get-viewport-width(28px));

			position: absolute;
			right: get-viewport-width(32px);
			transform: translateY(-60%);
			content: "";
		}

		&::after {
			position: absolute;
			top: get-viewport-width(35px);
			right: get-viewport-width(32px);
			transform: rotate(-45deg);
			width: get-viewport-width(3px);
			height: get-viewport-width(8px);
			background-color: $primary-white;
			content: "";
		}

		&__input {
			width: get-viewport-width(335px);
			box-sizing: border-box;
			margin: 0;
			padding: get-viewport-width(19px);
			border: 2px solid $primary-white;
			border-radius: 100vw;
			appearance: none;

			&::placeholder {
				font-family: inherit;
				font-size: get-viewport-width(12px);
				color: $primary-white;
			}
		}
	}
}

.featured-trips {
	@include limit-maximum-width(1100px);

	text-align: center;
	padding-bottom: get-viewport-width(115px);

	&__line-vertical {
		display: block;
		width: get-viewport-width(3.2px);
		height: get-viewport-width(85px);
		background-color: $primary-white;
	}

	&__heading {
		font-size: get-viewport-width(24px);
		margin-top: get-viewport-width(35px);
		margin-bottom: get-viewport-width(12.5px);
		color: $primary-dark;
		text-transform: uppercase;
	}

	&__description {
		margin-top: 0;
		margin-bottom: get-viewport-width(30px);
		font-size: get-viewport-width(12.5px);
		color: $secondary-dark;
	}

	&-carousel {
		@include place-logotype($scale: 0.65, $scaleTop: 0.5);

		position: relative;
		display: flex;
		align-items: center;
		gap: get-viewport-width(33.5px);

		&__wrap {
			@include background-image("./img/header-section-image.png");

			color: $primary-white;
			flex-grow: 1;
			background-position-y: bottom;
			padding-bottom: get-viewport-width(35px);
		}

		&__logo {
			margin-top: -5.5%;
		}

		&__paragraph {
			max-width: get-viewport-width(525px);
			margin: 0 auto get-viewport-width(35px);
			font-size: get-viewport-width(12px);
			color: $secondary-white;
		}
	}
}

.upcoming-trips {
	@include limit-maximum-width(1130px);

	&-headline {
		display: grid;
		grid-template-columns: get-viewport-width(84px) 78% 14%;
		grid-template-rows: get-viewport-width(26px) get-viewport-width(21px) get-viewport-width(
				22px
			);
		column-gap: get-viewport-width(6px);
		margin-bottom: get-viewport-width(44px);

		&__image {
			width: get-viewport-width(84px);
			height: get-viewport-width(74px);
			grid-row: span 3;
		}

		&__heading {
			position: relative;
			left: get-viewport-width(-26px);
			align-self: end;
			grid-row: span 2;
			margin: 0;
			font-size: get-viewport-width(30px);
			color: $primary-dark;
		}

		&__description {
			align-self: end;
			grid-column: 2;
			margin: 0;
			font-size: get-viewport-width(14px);
			color: $secondary-dark;
		}

		.button {
			grid-column: 3;
			grid-row: 2 / 4;
		}
	}

	&-controls {
		display: flex;
		justify-content: center;
		gap: get-viewport-width(560px);
		margin-bottom: get-viewport-width(55px);

		.carousel-button--right {
			right: get-viewport-width(-25px);
		}
	}

	.separator {
		margin-bottom: get-viewport-width(25px);
	}

	&-gallery {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
		overflow: hidden;

		&-wrap {
			position: relative;
			min-width: 100%;
		}

		&-item {
			position: relative;
			max-width: get-viewport-width(280px);
			height: get-viewport-width(250px);

			&::before {
				@include background-image("./img/eye-icon.png");

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
				width: get-viewport-width(55px);
				height: get-viewport-width(44px);
				opacity: 0;
				cursor: pointer;
				content: "";
			}

			&:first-child,
			&:last-child {
				max-width: get-viewport-width(160px);
			}

			&__image {
				max-width: inherit;
				height: 100%;
				object-fit: cover;
			}

			&--active &__image {
				filter: brightness(0.9);
			}

			&--active {
				max-width: get-viewport-width(430px);
				height: get-viewport-width(300px);

				&::before {
					opacity: 1;
				}
			}
		}
	}

	&-showcase {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		row-gap: get-viewport-width(20px);
		list-style-type: none;
		margin: 0;
		padding: 0;
		min-width: 100%;
		margin-bottom: get-viewport-width(55px);

		&-item {
			position: relative;
			width: 295px;
			height: 400px;
			cursor: pointer;

			&__image {
				width: inherit;
				height: inherit;
				object-fit: cover;
			}

			&::before {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				text-align: center;
				font-size: 28px;
				font-weight: 700;
				color: #fff;
				filter: drop-shadow(0 0 6px #000);
				content: "Upcoming Trips";
			}
		}
	}
}

.map-section {
	height: get-viewport-width(475px);

	&__map {
		width: 100%;
		height: inherit;
		object-fit: cover;
	}
}

.footer {
	@include navigation($primary-dark, $secondary-dark);

	padding: get-viewport-width(12px) 0 get-viewport-width(8px) 0;
}
