@use "sass:list";
@use "sass:meta";
@use "sass:string";
@use "../mixins.scss";

@function _obtainViewportWidthBulk($widths) {
    $result: ();
    @each $width in $widths {
        @if (meta.type-of($width) != list) {
            $result: list.append($result, mixins.obtainViewportWidth($width));
        } @else {
            $result: list.append($result, string.unquote("[#{list.nth($width, 1)}]"))
        }
    }

    @return $result;
}

.about {
    display: grid;
    grid-template-columns: _obtainViewportWidthBulk(
        [g-1] 75px [g-2] 63px [g-3] 15px [g-4] 48px [g-5] 37px [g-6] 23px [g-7] 32px [g-8] 25px [g-9] 27.5px [g-10] 15.5px [g-11] 10.5px 
        [g-12] 28px [g-13] 38px [g-14] 11.5px [g-15] 42px [g-16] 35px [g-17] 9.5px [g-18] 9px [g-19] 22.5px [g-20] 33px [g-21] 28px
        [g-22] 9px [g-23] 27px [g-24] 11.5px [g-25] 18px [g-26] 7px [g-27] 61px [g-28] 12px [g-29] 36.5px [g-30] 33px [g-31] 53px) [g-32] auto;
    grid-template-rows: _obtainViewportWidthBulk(
        [r-1] 73.56px [r-2] 37.51px [r-3] 4.5px [r-4] 9px [r-5] 71.5px [r-6] 16.49px [r-7] 45.01px [r-8] 36.75px [r-9] 50px [r-10] 7.5px 
        [r-11] 16.5px [r-12] 24px [r-13] 12px [r-14] 12.5px [r-15] 28px [r-16] 31.5px [r-17] 7px [r-18] 25.5px [r-19] 12.68px [r-20] 46.57px 
        [r-21] 15.25px [r-22] 47.5px [r-23] 42.5px [r-24] 58.75px [r-25] 15px [r-26] 81px [r-27] 45.5px [r-28] 7px [r-29] 26.93px [r-30] 
        20.07px [r-31] 58.5px [r-32] 9px [r-33] 16.07px);
    grid-auto-rows: 0;
    grid-auto-columns: 0;

    &-box {
        position: relative;

        &--1 {
            grid-area: r-1 / g-1 / r-5 / g-2;
            background: linear-gradient(to right, #b5f197 66%, #6dc763);
        }

        &--2 {
            grid-area: r-1 / g-2 / r-5 / g-6;
            background: linear-gradient(to bottom right, #f9e1bd, #fbdcbd);
        }

        &--3 {
            grid-area: r-1 / g-6 / r-7 / g-13;
            background: linear-gradient(to top right, #8fcc92, #a0daa1);
        }

        &--4 {
            grid-area: r-1 / g-13 / r-4 / g-16;
            background: linear-gradient(to right, #006f23, #099236 15%, #046325 90%);
        }

        &--5 {
            grid-area: r-1 / g-16 / r-4 / g-19;
            background: linear-gradient(to right, #9ce987, #4ea14a 75%);
            background-size: 150%;
        }

        &--6 {
            grid-area: r-1 / g-19 / r-3 / g-21;
            background: linear-gradient(to right, #fce4bf, #fae1bc);
        }

        &--7 {
            grid-area: r-1 / g-21 / r-3 / g-23;
            background: linear-gradient(to right, #8ecb76, #d2f8ab 33%);
            background-size: 150%;
        }

        &--8 {
            grid-area: r-1 / g-23 / r-2 / g-26;
            background: linear-gradient(to right, #a1dd9f 80%, #68935b);
        }

        &--9 {
            grid-area: r-1 / g-26 / r-2 / g-28;
            background: linear-gradient(to top right, #fad7af, #f9d6ab);
        }

        &--10 {
            grid-area: r-1 / g-28 / r-2 / g-29;
            background-color: #15ad3d;
            box-shadow: inset 0 0 3px rgba(#000, 0.3);
        }

        &--11 {
            grid-area: r-1 / g-29 / r-8 / g-31;
            background: linear-gradient(to right, transparent 66%, #209139), 
                linear-gradient(to top right, #88d88d, #4ad868);
            background-size: 110%;
        }

        &--12 {
            height: 90%;
            grid-area: r-1 / g-31 / r-10 / g-32;
            background: linear-gradient(to right, transparent 75%, #579c47), 
                linear-gradient(to top right, #a4da91, #c8fba8);
        }

        &--13 {
            grid-area: r-1 / g-32 / r-6 / auto;
            background: linear-gradient(to top right, #dff8bc, #ddf2bf);
        }

        &--14 {
            grid-area: r-5 / g-1 / r-10 / g-2;
            background: linear-gradient(to right, #fbe3bf, #fae6c1);
        }

        &--15 {
            grid-area: r-5 / g-2 / r-14 / g-3;
            height: 97.5%;
            background: linear-gradient(to right, transparent 40%, #3e824c), linear-gradient(to top, #b6ef95 75%, #3e824c);
            background-size: 150%;
            background-position-y: -5%;
        }

        &--16 {
            grid-area: r-5 / g-3 / r-10 / g-6;
            background: linear-gradient(to bottom, #b7f2ab, #b5e8aa);
        }

        &--17 {
            z-index: -3;
            grid-area: r-7 / g-6 / r-13 / g-14;
            background: radial-gradient(at center, #04762b, #044220);
        }

        &--18 {
            grid-area: r-8 / g-6 / r-14 / g-9;
            background: linear-gradient(to bottom, #8fde93, #88cc8a);
        }

        &--19 {
            z-index: -2;
            grid-area: r-4 / g-12 / r-6 / g-15;
            background: linear-gradient(to right, #79dc6d 70%, #4d9a44);
            background-size: 105%;
        }

        &--20 {
            z-index: -1;
            grid-area: r-5 / g-12 / r-9 / g-15;
            justify-self: flex-end;
            align-self: center;
            width: 80%;
            height: 75%;
            background: linear-gradient(to right, #d4a880 70%, #b38f68);
            background-size: 105%;
        }

        &--21 {
            z-index: 1;
            grid-area: r-8 / g-11 / r-18 / g-18;
            align-self: center;
            width: 97.5%;
            height: 97.5%;
            background: linear-gradient(to bottom, #e6f5c6, #e1f3ba 50%, #e0f3b1 50%, #daf2ac);
        }

        &--22 {
            grid-area: r-4 / g-15 / r-10 / g-18;
            height: 92.5%;
            background: radial-gradient(33% 50%, #91935f, #eee4a7);
            background-size: 250% 200%;
            background-position-y: -500%;
        }

        &--23 {
            z-index: 3;
            grid-area: r-12 / g-15 / r-16 / g-18;
            width: 97.5%;
            height: 90%;
            background: linear-gradient(154.2deg, #6b7349 10%, #5f8247 30%, #71a555 85%);
        }

        &--24 {
            z-index: 2;
            grid-area: r-15 / g-15 / r-18 / g-18;
            align-self: flex-end;
            height: 90%;
            background: linear-gradient(to right, transparent 45%, #26681e), linear-gradient(to top, #3da826 25%, #26681e);
        }

        &--25 {
            grid-area: r-9 / g-17 / r-15 / g-21;
            background: linear-gradient(to left, #a8ee8b 75%, #5a904b);
        }

        &--26 {
            z-index: -1;
            grid-area: r-6 / g-17 / r-10 / g-21;
            background: linear-gradient(to top right, transparent 75%, #2f5d3e), linear-gradient(to top, #83cc87 45%, #2f5d3e);
        }

        &--27 {
            z-index: 1;
            grid-area: r-3 / g-17 / r-7 / g-25;
            height: 90%;
            background: linear-gradient(to right, #95d296, #9dd6a0);
        }

        &--28 {
            z-index: -1;
            grid-area: r-2 / g-23 / r-6 / g-29;
            background: radial-gradient(100% 100%, #068430, #0b3621);
            background-size: 125% 100%;
            background-position-x: 33%;
        }

        &--29 {
            grid-area: r-5 / g-25 / r-6 / g-29;
            align-self: flex-end;
            height: 66%;
            background: linear-gradient(to right, #39d05d, #31c659);
        }

        &--30 {
           z-index: 2;
           grid-area: r-6 / g-21 / r-9 / g-27;
           height: 97.5%;
           background: linear-gradient(to top right, #f8c1a7, #f6c3a6);
        }

        &--31 {
            z-index: 2;
            grid-area: r-6 / g-27 / r-9 / g-29;
            height: 97.5%;
            background: linear-gradient(to right, #dff4b1, #dcf4b0);
        }

        &--32 {
            z-index: 1;
            grid-area: r-7 / g-29 / r-9 / g-31;
            align-self: flex-end;
            height: 70%;
            background: linear-gradient(to right, #e7dda0 75%, #babe7d);
        }

        &--33 {
            grid-area: r-8 / g-31 / r-12 / g-32;
            height: 90%;
            margin-top: 10%;
            align-self: center;
            background: linear-gradient(to right, transparent 75%, #c07f69), 
                linear-gradient(to top right, #fbbb9d, #da9378);
        }

        &--34 {
            grid-area: r-6 / g-32 / r-13 / auto;
            background: linear-gradient(to right, #f9dcba, #f7dcb3);
        }

        &--35 {
            z-index: -1;
            grid-area: r-10 / g-1 / r-14 / g-2;
            background: linear-gradient(to top, #89d089 80%, #477651);
        }

        &--36 {
            grid-area: r-10 / g-3 / r-14 / g-6;
            background: linear-gradient(to top, #f7f1af, #edea9a 70%, #9bb96c);
        }

        &--37 {
            grid-area: r-14 / g-5 / r-21 / g-10;
            width: 95%;
            height: 92.5%;
            background: linear-gradient(to bottom, #b3f097, #a2e887 50%, #96e67e 50%, #90e47a);
        }

        &--38 {
            z-index: -2;
            grid-area: r-12 / g-9 / r-17 / g-11;
            background: linear-gradient(to right, #4bb139, #2c7e1e);
        }

        &--39 {
            z-index: -1;
            height: 95%;
            align-self: flex-end;
            grid-area: r-16 / g-9 / r-23 / g-11;
            background: linear-gradient(to bottom right, #47ac36, #368a29);
        }

        &--40 {
            grid-area: r-17 / g-11 / r-23 / g-15;
            height: 75%;
            background: linear-gradient(to right, #a6ec8c 75%, #579748);
            background-size: 110%;
        }

        &--41 {
            grid-area: r-17 / g-15 / r-24 / g-17;
            background: linear-gradient(to right, #e1f4b4 75%, #88a261);
            background-size: 110%;
        }

        &--42 {
            z-index: 3;
            grid-area: r-15 / g-17 / r-21 / g-21;
            width: 105%;
            background: linear-gradient(to right, #f8c0a2, #f6ba99);
        }

        &--43 {
            grid-area: r-8 / g-21 / r-20 / g-25;
            background: radial-gradient(at left, #079132, #044723);
        }

        &--44 {
            grid-area: r-8 / g-25 / r-28 / g-27;
            background: radial-gradient(at left, #82d888, #386b47);
            background-size: 200% 100%;
        }

        &--45 {
            grid-area: r-8 / g-27 / r-16 / g-29;
            background: linear-gradient(to bottom, #5e944d, #acde88, #cfeca9, #ecfbcb);
        }

        &--46 {
            grid-area: r-9 / g-29 / r-11 / g-31;
            background: linear-gradient(to right, transparent 85%, #2b6b31), linear-gradient(to top, #76d86b 85%, #2b6b31);
            background-size: 102.5%;
        }

        &--47 {
            grid-area: r-11 / g-29 / r-16 / g-32;
            background: radial-gradient(at left, #86d189 33%, #315f42);
            background-size: 100% 400%;
            background-position-y: 25%;
        }

        &--48 {
            grid-area: r-13 / g-32 / r-22 / auto;
            background: linear-gradient(25deg, #9fdd9a 60%, #619666);
            background-size: 133%;
        }

        &--49 {
            grid-area: r-13 / g-1 / r-20 / g-2;
            align-self: end;
            height: 95%;
            background: linear-gradient(to right, #fac3a3, #f7b797);
        }

        &--50 {
            z-index: -1;
            grid-area: r-13 / g-2 / r-19 / g-4;
            height: 95%;
            background: linear-gradient(to right, #8cd590 40%, #345e3f);
            background-size: 125%;
        }

        &--51 {
            grid-area: r-14 / g-4 / r-19 / g-5;
            background: radial-gradient(at bottom left, #e4bd8f, #737d51);
        }

        &--52 {
            z-index: -3;
            grid-area: r-22 / g-11 / r-25 / g-15;
            background: linear-gradient(to top left, #47ac36, #368a29);
        }

        &--53 {
            grid-area: r-24 / g-14 / r-26 / g-22;
            background: radial-gradient(at left, #12b142, #084926);
            background-size: 100% 400%;
            background-position-y: 33%;
        }

        &--54 {
            grid-area: r-21 / g-17 / r-24 / g-21;
            width: 110%;
            transform: translateX(-5%);
            background: linear-gradient(to right, #b8ef99, #b5ef96);
        }

        &--55 {
            z-index: -1;
            grid-area: r-20 / g-21 / r-23 / g-25;
            background: linear-gradient(to right, #13c858, #0caa48);
        }

        &--56 {
            z-index: -2;
            grid-area: r-22 / g-17 / r-29 / g-25;
            background: linear-gradient(to right, transparent 85%, #7ecd69), linear-gradient(to top right, #7dbc85, #b7f29a 45%);
        }

        &--57 {
            z-index: -1;
            grid-area: r-26 / g-17 / r-28 / g-22;
            height: 80%;
            background: linear-gradient(to top right, #ffcfc1, #f8d3b5);
        }

        &--58 {
            grid-area: r-16 / g-27 / r-22 / g-29;
            background: linear-gradient(to right, #e4f7b7 75%, #7ba562);
            background-size: 110%;
        }

        &--59 {
            grid-area: r-16 / g-29 / r-19 / g-32;
            background: linear-gradient(to right, #c4ec99 66%, #67a954);
        }

        &--60 {
            z-index: -1;
            grid-area: r-22 / g-32 / r-25 / auto;
            background: linear-gradient(to top, #84c485, #6daa73 80%, #326640);   
        }

        &--61 {
            grid-area: r-20 / g-1 / r-23 / g-2;
            background: radial-gradient(at left, #0ca83c, #079634);
        }

        &--62 {
            z-index: -3;
            grid-area: r-18 / g-2 / r-25 / g-4;
            height: 85%;
            background: linear-gradient(to bottom, #0a160b, #86e776 17.5%);
        }

        &--63 {
            grid-area: r-19 / g-4 / r-22 / g-5;
            background: linear-gradient(to right, #dacf90, #cabd83, #928f6f);
        }

        &--64 {
            z-index: -1;
            grid-area: r-20 / g-5 / r-24 / g-10;
            width: 95%;
            height: 127.5%;
            background: linear-gradient(to right, #8dd69c, #87d18c);
        }

        &--65 {
            z-index: 1;
            grid-area: r-23 / g-7 / r-28 / g-12;
            background: linear-gradient(to bottom left, #cef5ac, #d2f0a6);
        }

        &--66 {
            z-index: 2;
            grid-area: r-25 / g-10 / r-27 / g-14;
            background: linear-gradient(to bottom, #f6cbcc, #f9bb9d);
        }

        &--67 {
            grid-area: r-26 / g-14 / r-29 / g-17;
            background: linear-gradient(to right, #11c959 75%, #078535);
        }

        &--68 {
            grid-area: r-22 / g-27 / r-23 / g-30;
            background: linear-gradient(125deg, #e4f5b6 40%, #89d572);
        }

        &--69 {
            grid-area: r-19 / g-29 / r-22 / g-32;
            background: radial-gradient(at bottom left, #5cb367, #377c4c);
        }

        &--70 {
            grid-area: r-24 / g-32 / r-27 / auto;
            align-self: end;
            height: 82.5%;
            background: linear-gradient(to right, #d8f2b4, #d6f2b3);
        }

        &--71 {
            z-index: -1;
            grid-area: r-22 / g-1 / r-26 / g-2;
            height: 110%;
            background: linear-gradient(to bottom right, #fac7aa, #efae8f);
        }

        &--72 {
            grid-area: r-22 / g-4 / r-23 / g-5;
            background: linear-gradient(to right, #c3dd82, #aecf78, #7b9e56);
        }

        &--73 {
            z-index: -3;
            grid-area: r-23 / g-5 / r-27 / g-7;
            height: 107.5%;
            background: linear-gradient(to right, transparent 70%, #326a46), linear-gradient(to top, #6eb175, #2a583a 67.5%);
        }

        &--74 {
            z-index: 2;
            grid-area: r-27 / g-10 / r-30 / g-14;
            background: linear-gradient(150deg, #a4f19d 55%, #208d30);
        }

        &--75 {
            z-index: 3;
            grid-area: r-29 / g-13 / -1 / g-20;
            background: linear-gradient(to right, transparent 95%, #4c914e), linear-gradient(110deg, #bbefaa 65%, #4c914e);
        }

        &--76 {
            z-index: 4;
            grid-area: r-28 / g-20 / r-32 / g-30;
            background: linear-gradient(to bottom right, #f8cfb3, #f5a988);
        }

        &--77 {
            grid-area: r-23 / g-27 / r-28 / g-30;
            background: linear-gradient(to bottom right, #d3f3a7, #d9cb8e);
        }

        &--78 {
            grid-area: r-22 / g-30 / r-24 / g-32;
            background: radial-gradient(at bottom left, #73bb7e, #275739);
        }

        &--79 {
            grid-area: r-24 / g-30 / r-27 / g-32;
            height: 107.5%;
            background: radial-gradient(circle at 138.18% 68.31%, #af715a, #f7bc98 55%);
        }

        &--80 {
            z-index: -1;
            grid-area: r-27 / g-30 / r-29 / g-32;
            background: radial-gradient(at bottom, #695f4e, #565343);
        }

        &--81 {
            grid-area: r-29 / g-30 / r-32 / g-32;
            height: 72.5%;
            background: linear-gradient(to bottom right, #93e684, #54ab52);
        }

        &--82 {
            z-index: -1;
            grid-area: r-31 / g-30 / r-32 / g-32;
            background: linear-gradient(to bottom, #095a28, transparent 80%), radial-gradient(at bottom left, #07a840, #095a28);
        }

        &--83 {
            grid-area: r-32 / g-30 / -1 / g-32;
            border-top: 1px solid #dbe4ad;
            background: linear-gradient(to right, #ecae81, #d6926b);
        }

        &--84 {
            grid-area: r-32 / g-20 / -1 / g-24;
            background: linear-gradient(to right, #f9dcb2, #eed59d);
        }

        &--85 {
            grid-area: r-32 / g-24 / -1 / g-30;
            background: linear-gradient(to right, #93e481, #86e078);
        }

        &--86 {
            grid-area: r-27 / g-32 / -1 / -1;
            background: linear-gradient(to bottom right, #fad9b4, #e9d098);
        }

        &--87 {
            z-index: -2;
            grid-area: r-26 / g-1 / r-27 / g-2;
            background: linear-gradient(to right, #dacf90, #cabd83, #928f6f);
        }

        &--88 {
            grid-area: r-27 / g-1 / -1 / g-2;
            background: radial-gradient(at left, #4ede77, #146d2c);
        }

        &--89 {
            z-index: 1;
            grid-area: r-32 / g-1 / -1 / g-2;
            background: linear-gradient(to bottom, #f6e4c6, #f8d6ab);
        }

        &--90 {
            z-index: -4;
            grid-area: r-24 / g-2 / r-27 / g-4;
            background: radial-gradient(at center, #0b9439, #035623);
        }

        &--91 {
            grid-area: r-26 / g-2 / r-30 / g-5;
            width: 107.5%;
            background: linear-gradient(to right, #caf2b2, #c6f2a9);
        }

        &--92 {
            grid-area: r-23 / g-4 / r-26 / g-5;
            background: linear-gradient(to right, #66d766, #5ec95e, #3c903d);
        }

        &--93 {
            grid-area: r-30 / g-2 / r-33 / g-5;
            width: 107.5%;
            background: linear-gradient(120deg, #6fe36f 70%, #2f892b);
        }

        &--94 {
            z-index: -1;
            width: 107.5%;
            grid-area: r-33 / g-2 / -1 / g-5;
            background: radial-gradient(at bottom left, #16a343, #1b5530);
        }

        &--95 {
            z-index: -3;
            grid-area:  r-28 / g-7 / -1 / g-13;
            background: radial-gradient(at top right, #1a692e, transparent 35%), 
                radial-gradient(at top right, #1a692e, transparent 35%),
                linear-gradient(to right, #1a692e, #a2df81 45%, #a2df81 90%, #298941);
        }

        &--96 {
            z-index: -2;
            grid-area: r-27 / g-5 / r-32 / g-9;
            height: 95%;
            background: linear-gradient(to right, #89e061, #277419);
        }

        &--97 {
            grid-area: r-31 / g-5 / -1 / g-8;
            background: linear-gradient(to bottom, #f7e4be, #f8d6ac);
        }
    }
}
