@use "sass:math";

$primaryWhite: #fdf9fb;
$secondaryWhite: rgba($primaryWhite, 0.8);
$primaryOrange: #fc633a;
$primaryDark: #1a1a1a;
$secondaryDark: #787878;
$backgroundSecondary: #f0f4fd;

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Light.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Light.woff") format("woff");
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Regular.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: Quodlibet;
    src: url("./fonts/QuodlibetSans-Bold.woff2") format("woff2"),
        url("/fonts/QuodlibetSans-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Leto Sans";
    src: url("./fonts/LetoSansCondensed-Bold.woff2") format("woff2"),
        url("./fonts/LetoSansCondensed-Bold.woff") format("woff2");
    font-display: swap;
}

@function getViewportWidth($targetWidth, $baseWidth: 1300px) {
    @if  $targetWidth >= $baseWidth {
        @error "Target width should be less than base width";
    }

    @return math.div($targetWidth * 100vw, $baseWidth);
}

@mixin place-backgroundBehind {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

@mixin navigation {
    &-navigation {
        display: flex;
        align-items: center;
        gap: getviewportwidth(30px);
        width: getviewportwidth(950px);

        &__logo {
            flex-grow: 1;
            margin-left: getviewportwidth(12px);
            font-weight: 500;
            font-size: getviewportwidth(26px);
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $primaryWhite;
        }

        &__link {
            font-size: getviewportwidth(14px);
            text-decoration: none;
            color: $secondaryWhite;
        }
    }
}

body {
    margin: 0;
    border-top: #f9ba70 solid getviewportwidth(6px);
    padding: 0;
    font-family: Quodlibet, sans-serif;

    & > svg {
        position: absolute;
    }
}

body {
    background-color: #f3f3f3;
}

button {
    cursor: pointer;
}

.button {
    border: getviewportwidth(2px) solid $secondaryWhite;
    border-radius: getviewportwidth(32px);
    padding: getviewportwidth(8px) getviewportwidth(18px);
    font-size: getviewportwidth(14px);
    line-height: 1.3;
    background-color: transparent;
    color: $secondaryWhite;
}

.header {
    @include navigation;

    position: relative;
    width: 100%;
    height: getviewportwidth(830px);
    padding-top: getviewportwidth(18px);
    clip-path: url("#headerCurve");
    background-color: $primaryOrange;
    color: $primaryWhite;
    overflow: hidden;

    & > :not(.button ~ *) {
        margin-left: getviewportwidth(180px);
    }

    &__subheading {
        font-weight: 300;
        font-size: getviewportwidth(15px);
        margin: 0 0 getviewportwidth(20px) 0;
        color: $secondaryWhite;

        &:first-of-type {
            margin-top: getviewportwidth(265px);
        }
    }

    &__heading {
        font-weight: 400;
        font-size: getviewportwidth(32px);
        font-family: "Leto Sans";
        margin: 0 0 getviewportwidth(14px) 0;
    }

    &__description {
        max-width: getviewportwidth(360px);
        margin: 0 0 getviewportwidth(40px) 0;
        font-size: getviewportwidth(16px);
        font-weight: 300;
        color: $secondaryWhite;
    }

    &__image {
        @include place-backgroundBehind;

        top: getviewportwidth(80px);
        left: getviewportwidth(170px);
        width: 100vw - getviewportwidth(170px);
        height: getviewportwidth(637px);
    }

    &-visuals {
        @include place-backgroundBehind;

        inset: 0;

        &__lines {
            position: absolute;
            width: getviewportwidth(25px);
            height: getviewportwidth(2px);
            background-color: $primaryWhite;

            &::before {
                position: absolute;
                top: getviewportwidth(-12px);
                left: getviewportwidth(-16px);
                width: getviewportwidth(85px);
                height: getviewportwidth(2px);
                background-color: $primaryWhite;
                content: "";
            }

            &::after {
                position: absolute;
                bottom: getviewportwidth(-12px);
                left: getviewportwidth(-17.5px);
                width: getviewportwidth(60px);
                height: getviewportwidth(2px);
                background-color: $primaryWhite;
                content: "";
            }
        }

        $placements: (152: 112, 675: 73, 1140: 133, 656: 676, 18: 600, 1188: 640);
        $counter: 1;
        @each $left, $top in $placements {
            &__lines:nth-child(#{$counter}) {
                top: getviewportwidth($top * 1px - 2px);
                left: getviewportwidth($left * 1px - 2px);
            }

            $counter: $counter + 1;
        }

        &__lines:nth-child(even) {
            transform: scaleX(-1);
        }

        &__lines:nth-child(odd),
        &__lines:nth-child(odd)::before,
        &__lines:nth-child(odd)::after {
            height: 3px;
        }
    }

    &-slides {
        position: absolute;
        right: 0;
        left: 0;
        bottom: getviewportwidth(76px);
        display: flex;
        justify-content: center;
        gap: getviewportwidth(10px);
        margin: 0;
        padding: 0;
        list-style-type: none;

        &__button {
            width: getviewportwidth(12px);
            height: getviewportwidth(12px);
            box-sizing: border-box;
            border: 2px solid $secondaryWhite;
            border-radius: 50%;

            &--active {
                background-color: $primaryWhite;
            }
        }
    }
}

.header-subsection {
    padding: getviewportwidth(78px) 0 getviewportwidth(110px) 0;

    &-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: getviewportwidth(925px);
        margin: 0 auto;

        &__link {
            padding: getviewportwidth(21px) getviewportwidth(40px);
            font-size: getviewportwidth(17px);
            font-weight: 600;
            color: $secondaryDark;
            text-decoration: none;

            &--active {
                padding: getviewportwidth(19px) getviewportwidth(38px);
                border: $primaryOrange 2px solid;
                border-radius: getviewportwidth(9px);
                color: $primaryOrange;
            }
        }
    }
}

.about {
    font-size: 0;
    text-align: center;

    &__heading {
        margin: 0 auto;
        font-size: getviewportwidth(27px);
        font-family: "Leto Sans";
        color: $primaryDark;
    }

    &__description {
        font-size: getviewportwidth(16px);
        margin: getviewportwidth(24px) auto getviewportwidth(36px) auto;
        max-width: getviewportwidth(500px);
        color: $secondaryDark;
        text-align: center;
    }

    &-advantage {
        display: inline-flex;
        align-items: center;
        gap: getviewportwidth(20px);
        width: getviewportwidth(475px);
        height: getviewportwidth(280px);
        padding: 0 getviewportwidth(28px) 0 getviewportwidth(36px);
        box-sizing: border-box;
        text-align: left;
        color: $primaryWhite;

        &:first-of-type {
            border-top-left-radius: getviewportwidth(8px);
            border-bottom-left-radius: getviewportwidth(8px);
        }

        &:last-of-type {
            border-top-right-radius: getviewportwidth(8px);
            border-bottom-right-radius: getviewportwidth(8px);
        }

        &--blue {
            background-color: #33304b;
        }

        &--orange {
            background-color: $primaryOrange;
        }

        &__image {
            width: getviewportwidth(180px);
            height: getviewportwidth(180px);
        }

        &-wrap {
            color: $secondaryWhite;
        }

        &__heading {
            margin: 0;
            font-size: getviewportwidth(13.5px);
            font-weight: 400;
        }

        &__description {
            font-size: getviewportwidth(15px);
            margin: getviewportwidth(22px) 0 getviewportwidth(24px) 0;
        }

        .button {
            font-size: getviewportwidth(12px);
        }
    }
}

.insights {
    clip-path: url("#insightsCurve");
    margin-top: 27px;
    padding: getviewportwidth(148px) 0 getviewportwidth(128px);
    background-color: $backgroundSecondary;

    &-list {
        display: flex;
        gap: getviewportwidth(45px);
        width: getviewportwidth(950px);
        height: getviewportwidth(375px);
        padding: 0;
        margin: 0 auto;
        list-style-type: none;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 1 0;
            height: getviewportwidth(300px);
            padding: getviewportwidth(32px) getviewportwidth(32px) 0;
            box-sizing: border-box;
            border-radius: getviewportwidth(7px);
            background-color: #fff;

            &__icon-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                width: getviewportwidth(64px);
                height: getviewportwidth(64px);
                border-radius: 50%;
            }

            &__icon {
                width: getviewportwidth(50px);
                height: getviewportwidth(40px);
            }

            &__heading {
                margin: getviewportwidth(26px) 0 getviewportwidth(18px) 0;
                font-size: getviewportwidth(13.5px);
                font-weight: 400;
                letter-spacing: -1px;
            }

            &__description {
                margin: 0;
                font-size: getviewportwidth(16px);
            }

            &--active {
                align-self: flex-end;
                background-color: $primaryOrange;
                border: #fd6640 solid getviewportwidth(1.5px);
                color: $secondaryWhite;
            }

            &--active &__icon-wrap {
                background-color: $primaryWhite;
                border: getviewportwidth(2px) $primaryOrange solid;
                outline: rgba($primaryWhite, 0.33) getviewportwidth(2px) solid;
            }

            &--active &__heading {
                margin-top: calc(getviewportwidth(26px) - getviewportwidth(2px));
            }
        }
    }
}

.contacts {
    position: relative;
    height: getviewportwidth(500px);

    &::before {
        @include place-backgroundBehind;

        top: -4%;
        left: 0;
        right: 0;
        height: 54%;
        background-color: $backgroundSecondary;
        clip-path: url("#headerCurve");
        content: "";
    }

    &__image {
        @include place-backgroundBehind;

        top: 0;
        right: getviewportwidth(150px);
        width: getviewportwidth(462px);
        height: getviewportwidth(462px);
    }

    &__heading {
        font-family: "Leto Sans";
        font-size: getviewportwidth(30px);
        margin: 0 0 getviewportwidth(30px) getviewportwidth(200px);
        color: $primaryDark;
    }

    &__description {
        margin: 0 0 getviewportwidth(66px) getviewportwidth(200px);
        font-size: getviewportwidth(15px);
        max-width: getviewportwidth(490px);
        color: $secondaryDark;
    }

    &-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: getviewportwidth(8px);
        width: getviewportwidth(480px);
        padding: getviewportwidth(22px) getviewportwidth(50px) getviewportwidth(28px) getviewportwidth(50px);
        margin: 0 0 0 getviewportwidth(175px);
        box-sizing: border-box;
        background-color: #fff;
        border-radius: getviewportwidth(7px);

        &__label:first-child {
            flex: 1 0 getviewportwidth(380px);
        }

        &__label:not(:first-child) {
            width: getviewportwidth(180px);
        }

        &__text {
            display: block;
            line-height: 2;
            font-size: getviewportwidth(18px);
            color: #dedede;
        }

        &__input {
            width: 100%;
            height: getviewportwidth(45px);
            padding: 0;
            border: 1px solid #ebebeb;
            background-color: #e9e9e9;
            box-sizing: border-box;
        }

        &__label:first-child &__input {
            height: getviewportwidth(60px);
        }
    }
}

.partners {
    padding: getviewportwidth(70px) 0 getviewportwidth(44px) 0;
    background-color: #f5f6fa;

    &-list {
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: getviewportwidth(50px);
        margin: 0;
        padding: 0;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;

            &__logo {
                width: getviewportwidth(65px);
                height: getviewportwidth(28px);
            }
        }
    }
}

.footer {
    @include navigation;

    padding: getviewportwidth(40px) 0;
    background-color: $primaryOrange;

    &-navigation {
        margin: 0 auto;
    }
}
