@mixin _circle {
    appearance: none;
    width: 8px;
    height: 8px;
    border: 3px solid #d3c198;
    border-radius: 50%;
    background-color: #fdeeb7;
}

@mixin table {
    &-table {
        position: relative;
        width: 400px;
        height: 400px;
        padding: 14px 14px 40px;
        background-color: #f8e0af;
        margin: 0;

        $mask: linear-gradient(to left, transparent, rgba(0, 0, 0) 1.5%, rgba(0, 0, 0) 98%, transparent),
            linear-gradient(to left, transparent, rgba(0, 0, 0) 1.5%, rgba(0, 0, 0) 98%, transparent),
            linear-gradient(to bottom, transparent, rgba(0, 0, 0) 1.5%, rgba(0, 0, 0) 98%, transparent);
        mask-image: $mask;
        -webkit-mask-image: $mask;
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
    
        &__image {
            position: absolute;
            bottom: 0;
            z-index: 1;
            width: 340px;
            height: 370px;
            transform: scaleX(-1);
        }

        &__heading-list {
            display: table-header-group;
        }

        &__heading-item {
            display: table-cell;
            width: 100vw;
            text-align: center;
            vertical-align: middle;
            font-family: "Rainbow Land";
            font-size: 13px;
            font-weight: 700;
            border-top: #b8a482 solid 3px;
            border-left: 3px solid #d6c29a;
            border-right: 6px solid transparent;
            border-bottom: 3px solid #d6c29a;
            background-color: #f9dda6;

            &--empty {
                width: 25vw;
            }

            &--large {
                width: 200vw;
            }

            &:last-child {
                width: 100vw;
                background-color: #f7e0b4;
                border-left-color: #b8a482;
                border-bottom-color: transparent;
                border-right: #b8a482 solid 3px;
            }
        }

        &__inner {
            display: table;
            border-collapse: separate;
            border-spacing: 3px 0;
            background-color: #fdf3bf;
            border: #b8a482 solid 3px;
            border-radius: 3px;
        }

        &-row {
            display: table-row;
            
            & > * {
                display: table-cell;
            }

            & > :last-child {
                text-align: right;
                font-family: Brusly;
                letter-spacing: 1px;
                color: #4a453a;
                
            }
        }

        &__counter {
            position: relative;
            width: 100vw;
            height: 14px;
            border-right: 16px solid transparent;
            border-bottom: 1px solid #d6c29a;
            font-size: 11px;
            font-family: Brusly, sans-serif;
            text-align: right;
            vertical-align: bottom;
            color: #98876e;
            background-color: #fce5b9;

            &--separated {
                color: transparent;
                border-bottom-color: transparent;
                height: 0;
                font-size: 0;
                line-height: 0;
            }

            &::before {
                position: absolute;
                top: 0;
                right: -16px;
                bottom: 0;
                width: 2px;
                height: 100%;
                background-color: #b8a482;
                content: "";
            }
        }

        &__heading {
            font-size: 12px;
            vertical-align: middle;

            &--outlined {
                background: linear-gradient(to right, rgba(#d2a56f, 0.5) 0% 10%, #f9d8a5 10% 75%, #fef3c1 75% 100%);
            }
        }

        &__radio-wrap {
            font-size: 11px;
            text-transform: uppercase;
            vertical-align: bottom;
            line-height: 1;
        }

        &__radio {
            @include _circle;
            position: relative;
            margin: -2px 0 0;
            padding-left: 2px;
            vertical-align: middle;
            cursor: pointer;

            &:checked {
                border-color: #b9c370;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translate(-50%, -33%);
                z-index: -1;
                width: 12px;
                height: 10px;
                background-color: #f2dc9c;
                content: "";
            }
        }

        &__checkbox-wrap {
            font-size: 11px;
            text-transform: uppercase;
            line-height: 1;
        }

        &__checkbox {
            position: relative;
            width: 16px;
            height: 10px;
            border: 2px solid #b8a482;
            border-radius: 2px;
            margin: 0;
            vertical-align: top;
            appearance: none;
            background: linear-gradient(257deg, rgb(183, 172, 127) 45%, rgba(244,204,141,1) 50%,
              rgba(224,188,130,1) 55%, rgb(238, 219, 181) 66%, rgba(247,217,156,1) 68%,
              rgba(247,217,156,1) 77%, rgba(247,217,156,1) 100%);
            background-size: 400% 100%;
            background-position: -50% 0;
            cursor: pointer;
            transition: all 0.6s ease-in-out;

            &:checked {
                background-position: -100% 0;
            }

            &::before {
                @include _circle;
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translate(100%, -50%);
                box-sizing: border-box;
                border-width: 1.5px;
                transition: all 0.6s ease-in-out;
                content: "";
            }

            &:checked::before {
                transform: translate(0, -50%) scale(0.66);
                border-color: #b9c370;
                right: 0;
            }
        }

        &__subheading {
            font-size: 11px;
            letter-spacing: 0;
            vertical-align: middle;
        }

        &__separator {
            display: block;
            width: 100%;
            height: 0;
            border-bottom-width: 0;
            border-left-width: 0;
            border-right-width: 0;
            margin-top: 1.5px;
            margin-bottom: 4px;
            border-color: #898670;
            transform: scaleY(-1);
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style-type: none;

            &-item {
                font-size: 9.5px;
                line-height: 0.66;
            }
        }

        &__ordered-item {
            font-size: 11px;
        }

        &__navigation {
            display: flex;
            flex-direction: column;
            vertical-align: top;
            width: 70px;
            height: 40px;
            border: 2px solid #b8a482;
            padding-right: 6px;
            box-sizing: border-box;
            background: linear-gradient(to right, rgba(#d2ad7d, 0.5) 0% 10%, #f7d9ae 10% 75%, #f7dfb4 75% 100%);

            &-heading {
                flex-grow: 1;
                font-size: 8px;
                margin: 6px 0 0;
                color: #c1a57b;
            }

            &-link {
                flex-grow: 0.5;
                font-size: 10px;
                text-decoration: none;
                color: #97755f;
            }
        }
    }
}
